.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($heightBlock, 1fr));

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__block {
    display: grid;
    justify-content: center;
    align-content: center;
    height: $heightBlock;
    color: white;
  }

  @each $name, $color in $colors {
    &__block--#{$name} {
      background-color: #{$color};
    }
  }
}
