@media only screen and (min-width: 1200px) {
  .block_flex {
    flex-basis: 325px;
  }
}

@media only screen and (max-width: 1200px) {
  .block_1 {
    order: 1;
  }

  .block_2 {
    order: 2;
  }
  
  .block_3 {
    order: 3;
  }

  .block_4 {
    order: 6;
  }

  .block_5 {
    order: 5;
  }

  .block_6 {
    order: 4;
  }
}

@media only screen and (max-width: 899px) {
  .block_1 {
    order: 1;
  }

  .block_2 {
    order: 2;
  }
  
  .block_3 {
    order: 4;
  }

  .block_4 {
    order: 3;
  }

  .block_5 {
    order: 5;
  }

  .block_6 {
    order: 6;
  }
}

@media only screen and (max-width: 599px) {
  .block_1 {
    order: 1;
  }

  .block_2 {
    order: 2;
  }
  
  .block_3 {
    order: 3;
  }

  .block_4 {
    order: 4;
  }

  .block_5 {
    order: 5;
  }

  .block_6 {
    order: 6;
  }
}
