* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 100px;
  margin: 0;
}

.container {
  display: flex;
}

.box {
  display: flex;
  flex-basis: 300px;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-grow: 1;
  color: #fff;
}

.box-1 {
  background-color: rgb(255, 0, 0);
}

.box-2 {
  background-color: rgb(204, 0, 0);
}

.box-3 {
  background-color: rgb(153, 0, 0);
}

.box-4 {
  background-color: rgb(102, 0, 0);
}

.box-5 {
  background-color: rgb(51, 0, 0);
}

.box-6 {
  background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 751px) and (max-width: 1200px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .box {
    flex-basis: 33%;
  }
  .box-4 {
    order: 3;
  }

  .box-5 {
    order: 2;
  }

  .box-6 {
    order: 1;
  }
}

@media screen and (min-width: 451px) and (max-width: 750px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .box {
    flex-basis: 50%;
  }

  .box-3 {
    order: 4;
  }

  .box-4 {
    order: 3;
  }

  .box-5 {
    order: 5;
  }

  .box-6 {
    order: 6;
  }
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
