html,
body,
div {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 100px;
  width: 30vw;
  height: 300px;
}

@media (max-width: 750px) {
  .box {
    width: 50vw;
  }
}

@media (max-width: 450px) {
  .box {
    width: 100vw;
  }
}

.box__1 {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.box__2 {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.box__3 {
  background-color: rgb(153, 0, 0);
  order: 3;
}

@media (max-width: 750px) {
  .box__3 {
    order: 4;
  }
}

@media (max-width: 450px) {
  .box__3 {
    order: 3;
  }
}

.box__4 {
  background-color: rgb(102, 0, 0);
  order: 6;
}

@media (max-width: 750px) {
  .box__4 {
    order: 3;
  }
}

@media (max-width: 450px) {
  .box__4 {
    order: 4;
  }
}

.box__5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.box__6 {
  background-color: rgb(0, 0, 0);
  order: 4;
}

@media (max-width: 750px) {
  .box__6 {
    order: 5;
  }
}

@media (max-width: 450px) {
  .box__6 {
    order: 6;
  }
}
