body {
  margin: 0;
  padding: 0;
}

.block {
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 300px;
  flex-basis: 33%;
}

.block:nth-child(1) {
  background-color: #f00;
}

.block:nth-child(2) {
  background-color: #c00;
}

.block:nth-child(3) {
  background-color: #900;
}

.block:nth-child(4) {
  background-color: #600;
  order: 3;
}

.block:nth-child(5) {
  background-color: #300;
  order: 2;
}

.block:nth-child(6) {
  background-color: #000;
  order: 1;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 600px) and (max-width:900px) {

  .block:nth-child(3) {
    order: 2;
  }

  .block:nth-child(4) {
    order: 1;
  }

  .block:nth-child(5) {
    order: 3;
  }

  .block:nth-child(6) {
    order: 4;
  }
}

@media screen and (max-width:600px) {

  .block:nth-child(4) {
    order: 1;
  }

  .block:nth-child(5) {
    order: 2;
  }

  .block:nth-child(6) {
    order: 3;
  }
}
