.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.block--1 {
  order: -4;
  background-color: #f00;
}

.block--2 {
  order: -3;
  background-color: #c00;
}

.block--3 {
  background-color: #900;
}

.block--4 {
  background-color: #600;
}

.block--5 {
  background-color: #300;
}

.block--6 {
  background-color: #000;
}

.block {
  height: 300px;
  flex-basis: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  line-height: 300px;
  color: white;
  text-align: center;
}

@media (min-width: 600px) {
  .block {
    flex-basis: 50%;
  }

  .block--3 {
    order: -1;
  }

  .block--4 {
    order: -2;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33.33%;
  }

  .block--3 {
    order: -2;
  }

  .block--4 {
    order: 1;
  }

  .block--6 {
    order: -1;
  }
}
