body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-basis: 300px;
  height: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (min-width:600px) and (max-width:900px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block-3 {
    order: 1;
  }
  .block-5 {
    order: 2;
  }
  .block-6 {
    order: 3;
  }
}

@media (min-width:900px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block {
    flex-basis: 33%;
  }

  .block-6 {
    order: 1;
  }

  .block-5 {
    order: 2;
  }
  .block-4 {
    order: 3;
  }
}

.block-1 {
  background-color: rgb(100%, 0%, 0%);
}

.block-2 {
  background-color: rgb(80%, 0%, 0%);
}

.block-3 {
  background-color: rgb(60%, 0%, 0%);
}

.block-4 {
  background-color: rgb(40%, 0%, 0%);
}

.block-5 {
  background-color: rgb(20%, 0%, 0%);
}

.block-6 {
  background-color: rgb(0%, 0%, 0%);
}
