body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  flex-grow: 1;
  flex-basis: 33.33%;
  flex-shrink: 1;
  display: flex;
  height: 300px;
  min-width: 300px;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.block--1 {
  background-color: red;
}

.block--2 {
  background-color: #c00;
}

.block--3 {
  background-color: #900;
}

.block--4 {
  background-color: #600;
}

.block--5 {
  background-color: #300;
}

.block--6 {
  background-color: #000;
}

@media (min-width:600px) {
  .block--3 {
    order: 4;
  }
  .block--4 {
    order: 3;
  }
  .block--5 {
    order: 5;
  }
  .block--6 {
    order: 6;
  }
}

@media (min-width:900px) {
  .block--3 {
    order: 3;
  }
  .block--4 {
    order: 6;
  }

  .block--5 {
    order: 5;
  }
  .block--6 {
    order: 4;
  }
}
