
.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: 300px;
  line-height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 100px;
  flex-basis: 33%;
  flex-grow: 1;
  min-width: 300px;
}

.block-1 {
  background-color: red;
}

.block-2 {
  background-color: rgb(204, 0, 0);
}

.block-3 {
  background-color: rgb(153, 0, 0);
}

.block-4 {
  background-color: rgb(102, 0, 0);
  order: 6;
}

.block-5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.block-6 {
  background-color: rgb(0, 0, 0);
  order: 4;
}

@media (min-width: 600px) and (max-width: 899px) {
  .block-3 {
    order: 2;
  }

  .block-4 {
    order: 1;
  }

  .block-5 {
    order: 3;
  }

  .block-6 {
    order: 4;
  }

}

@media (max-width: 599px) {
  .block-3 {
    order: 1;
  }

  .block-4 {
    order: 2;
  }

  .block-5 {
    order: 3;
  }

  .block-6 {
    order: 4;
  }

}
