html {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
}

.body_style {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  height: 300px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.block--1 {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.block--2 {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.block--3 {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.block--4 {
  background-color: rgb(102, 0, 0);
  order: 4;
}

.block--5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.block--6 {
  background-color: rgb(0, 0, 0);
  order: 6;
}

@media (min-width: 600px) {
  .block {
    flex-basis: 50%;
  }

  .block--3 {
    order: 4;
  }

  .block--4 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33.3%;
  }

  .block--4 {
    order: 6;
  }

  .block--6 {
    order: 4;
  }
}
