html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: 300px;
  font-size: 100px;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  display: flex;
  min-width: 300px;
  flex-basis: 33%;
}

.block--1 {
  background-color: rgb(255, 0, 0);
}

.block--2 {
  background-color: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);
}

.block--4 {
  background-color: rgb(102, 0, 0);
  order: 6;
}

.block--5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.block--6 {
  background-color: rgb(0, 0, 0);
  order: 4;
}

@media (max-width: 760px) {
  .block--3 {
    order: 3;
  }
  .block--4 {
    order: 2;
  }
  .block--5 {
    order: 4;
  }
  .block--6 {
    order: 5;
  }
}

@media (max-width: 450px) {
  .block--3,
  .block--4 {
    order: 0;
  }
}
