body {
  margin: 0;
}

.block {
  height: 300px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 100px;
  line-height: 300px;
  color: white;
}

.block1 {
  order: 1;
  background-color: #f00;
}

.block2 {
  background-color: #c00;
}

.block3 {
  background-color: #900;
}

.block4 {
  background-color: #600;
}

.block5 {
  background-color: #300;
}

.block6 {
  order: 6;
  background-color: #000;
}

@media (min-width: 300px) {
  .block {
    min-width: 50%;
  }
}

@media (min-width: 600px) {
  .container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }

  .block2 {
    order: 2;
  }

  .block3 {
    order: 4;
  }

  .block4 {
    order: 3;
  }

  .block5 {
    order: 5;
  }
}

@media (min-width: 900px) {
  .block {
    min-width: 300px;
  }

  .block2 {
    order: 2;
  }

  .block3 {
    order: 3;
  }

  .block4 {
    order: 6;
  }

  .block6 {
    order: 4;
  }
}

@media (min-width: 1050px) {
  .block {
    min-width: 350px;
  }
}

@media (min-width: 1200px) {
  .block {
    min-width: 400px;
  }
}
