html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.snake {
  flex-basis: 33.33%;
  line-height: 300px;
  text-align: center;
  color: #fff;
}

.snake-1 {
  background-color: rgb(255, 0, 0);
}

.snake-2 {
  background-color: rgb(211, 0, 0);
}

.snake-3 {
  background-color: rgb(156, 0, 0);
}

.snake-4 {
  background-color: rgb(126, 0, 0);
  order: 2;
}

.snake-5 {
  background-color: rgb(70, 0, 0);
  order: 1;
}

.snake-6 {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 899px) {
  .snake {
    flex-basis: 50%;
  }
  .snake-4 {
    order: 1;
  }
  .snake-3 {
    order: 2;
  }
  .snake-6 {
    order: 4;
  }
  .snake-5 {
    order: 3;
  }
}

@media (max-width: 599px) {
  .container {
    flex-direction: column;
  }
  .snake {
    order: 0;
  }
}
