body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  height: 300px;
  min-width: 300px;
  color: white;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  flex-basis: 33.3%;
  flex-grow: 1;
}

.block1 {
  background-color: red;
  order: 1;
}

.block2 {
  background-color: rgb(204, 52, 52);
  order: 2;
}

.block3 {
  background-color: rgba(165, 42, 42, 0.77);
  order: 3;
}

.block4 {
  background-color: rgba(97, 1, 1, 0.76);
  order: 4;
}

.block5 {
  background-color: rgb(39, 10, 10);
  order: 5;
}

.block6 {
  background-color: black;
  order: 6;
}

@media (max-width: 890px) {
  .block {
    flex-basis: 50%;
  }
  .block3 {
    order: 3;
  }
  .block4 {
    order: 2;
  }
  .block5 {
    order: 4;
  }
  .block6 {
    order: 4;
  }
}

@media (max-width: 590px) {
  .block {
    flex-basis: 100%;
    order: 1;
  }
}

@media (min-width: 890px) {

  .block3 {
    order: 1;
  }
  .block4 {
    order: 3;
  }
  .block5 {
    order: 2;
  }
  .block6 {
    order: 1;
  }
}
