body {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 100px;

  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-grow: 1;
  flex-shrink: 0;

  min-width: 300px;
  height: 300px;
}

/* .block styles */

.block:first-child {
  background-color: red;
  order: 1;
}

.block:nth-child(2) {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.block:nth-child(3) {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.block:nth-child(4) {
  background-color: rgb(102, 0, 0);
  order: 4;
}

.block:nth-child(5) {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.block:nth-child(6) {
  background-color: rgb(0, 0, 0);
  order: 6;
}

/* Adaptive @media parameters */

@media (min-width: 600px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block:nth-child(3) {
    order: 4;
  }

  .block:nth-child(4) {
    order: 3;
  }
}

@media (min-width: 900px) {
  .block:nth-child(3) {
    order: 3;
  }

  .block:nth-child(4) {
    order: 6;
  }

  .block:nth-child(6) {
    order: 4;
  }
}

@media (min-width: 1200px) {
  .block {
    min-width: 400px;
  }
}
