
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-width: 300px;
  flex-grow: 1;
  flex-basis: 33.3%;
}

.block--1 {
  background: red;
  order: 1;
}

.block--2 {
  background: #c00;
  order: 2;
}

.block--3 {
  background: #900;
  order: 3;
}

.block--4 {
  background: #600;
  order: 4;
}

.block--5 {
  background: #300;
  order: 5;
}

.block--6 {
  background: #000;
  order: 6;
}

@media (min-width: 600px) and (max-width: 899px) {
  .block--3 {
    order: 4;
  }
  .block--4 {
    order: 3;
  }
}

@media (min-width: 900px) {

  .block--4 {
    order: 6;
  }

  .block--6 {
    order: 4;
  }
}
