body {
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid--item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-family: Arial;
  color: white;
  font-size: 100px;
  min-width: 300px;
  flex: 1 33.3%;
}

.grid--one {
  background-color: rgb(255, 0, 0);
}

.grid--two {
  background-color: rgb(204, 0, 0);
}

.grid--three {
  background-color: rgb(153, 0, 0);
}

.grid--four {
  background-color: rgb(102, 0, 0);
}

.grid--five {
  background-color: rgb(51, 0, 0);
}

.grid--six {
  background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 900px) {
  .grid--four {
    order: 3;
  }
  .grid--five {
    order: 2;
  }
  .grid--six {
    order: 1;
  }
}

@media screen and (max-width: 899px) {
  .grid--three {
    order: 2;
  }
  .grid--four {
    order: 1;
  }
  .grid--five {
    order: 3;
  }
  .grid--six {
    order: 4;
  }
}

@media screen and (max-width: 450px) {
  .grid--item {
    order: 0;
  }
}
