html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  box-sizing: border-box;
  display: flex;
  height: 300px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 300px;
  color: #fff;
}

.block-1 {
  background-color: #f00;
}

.block-2 {
  background-color: #c00;
}

.block-3 {
  background-color: #900;
}

.block-4 {
  display: flex;
  background-color: #600;
}

.block-5 {
  background-color: #300;
}

.block-6 {
  background-color: #000;
}

@media (min-width: 600px) {
  .block-3 {
    order: 1;
  }

  .block-5 {
    order: 2;
  }

  .block-6 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33%;
  }

  .block-4 {
    order: 5;
  }

  .block-5 {
    order: 4;
  }
}
