body {
  margin: 0;
  padding: 0;
}

.all__box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.box {
  --max-height: 300px;

  height: var(--max-height);
  flex-basis: var(--max-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: rgb(255, 255, 255);
}

/* #region order */
.box1 {
  order: 1;
  background-color: rgb(255, 0, 0);
}

.box2 {
  order: 2;
  background-color: rgb(calc(255 * 0.8), 0, 0);
}

.box3 {
  order: 3;
  background-color: rgb(calc(255 * 0.6), 0, 0);
}

.box4 {
  order: 4;
  background-color: rgb(calc(255 * 0.4), 0, 0);
}

.box5 {
  order: 5;
  background-color: rgb(calc(255 * 0.2), 0, 0);
}

.box6 {
  order: 6;
  background-color: rgb(0, 0, 0);
}
/* #endregion */

@media (min-width: 600px) {
  .all__box {
    flex-direction: row;
  }

  .box {
    flex-basis: 50%;
  }

  .box3 {
    order: 4;
  }

  .box4 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .all__box {
    flex-direction: row;
  }

  .box {
    flex-basis: calc(100% / 3);
  }

  .box4 {
    order: 6;
  }

  .box5 {
    order: 5;
  }

  .box6 {
    order: 4;
  }
}
