* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}

body {
  margin: 0;
}

.block-set {
  display: flex;
  justify-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

  min-width: 300px;
}

.block {
  display: flex;
  flex-basis: 300px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 300px;
}

.block--1 {
  background-color: rgb(255, 0, 0);
}

.block--2 {
  background-color: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);
}

.block--4 {
  background-color: rgb(102, 0, 0);
}

.block--5 {
  background-color: rgb(51, 0, 0);
}

.block--6 {
  background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 600px) {
  .block-set {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) and (max-width:900px) {
  .block--4 {
    order: 1;
  }

  .block--3 {
    order: 2;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 4;
  }
}

@media screen and (min-width: 900px) {
  .block--3 {
    order: 1;
  }
  
  .block--6 {
    order: 2;
  }

  .block--5 {
    order: 3;
  }

  .block--4 {
    order: 4;
  }
}

@media screen and (min-width: 1200px) {
  .block--3 {
    order: 1;
  }
  
  .block--6 {
    order: 2;
    min-width: 400px;
  }

  .block--5 {
    order: 3;
    min-width: 400px;
  }

  .block--4 {
    order: 4;
    min-width: 400px;
  }
}
