* {
  box-sizing: border-box;
}

@media (min-width:600px) {
  .container {
    flex-direction: row;
  }

  .block {
    flex-basis: 50%;
  }

  .block--4 {
    order: 1;
  }

  .block--3 {
    order: 2;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 4;
  }
}

@media (min-width:900px) {
  .container {
    flex-direction: row;
  }

  .block {
    flex-basis: 33.33%;
  }

  .block--4 {
    order: 6;
  }

  .block--5 {
    order: 5;
  }

  .block--6 {
    order: 4;
  }
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.block--1 {
  background-color: rgb(255, 0, 0);
}

.block--2 {
  background-color: rgb(204, 0, 0);

}

.block--3 {
  background-color: rgb(153, 0, 0);

}

.block--4 {
  background-color: rgb(102, 0, 0);

}

.block--5 {
  background-color: rgb(51, 0, 0);

}

.block--6 {
  background-color: black;
}
