body {
  margin: 0;
}

p {
  color: white;
  font-size: 100px;
  font-family: Arial;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
}

.item1 {
  background-color: rgb(255,0,0);
  order: 0;
}

.item2 {
  background-color: rgb(204,0,0);
  order: 1;
}

.item3 {
  background-color: rgb(153,0,0);
  order: 2;
}

.item4 {
  background-color: rgb(102,0,0);
  order: 3;
}

.item5 {
  background-color: rgb(51,0,0);
  order: 4;
}

.item6 {
  background-color: rgb(0,0,0);
  order: 5;
}

@media screen and (max-width: 899px) and (min-width: 599px) {
  .item3 {
    order: 3;
  }

  .item4 {
    order: 2;
  }

}

@media screen and (min-width: 900px) {
  .item4 {
    order: 5;
  }

  .item5 {
    order: 4;
  }

  .item6 {
    order: 3;
  }

}

@media all and (min-width: 1200px) {

  .item {
    flex-basis: 400px;
  }
}
