* {
  margin: 0;
}

.body_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.div_box {
  display: flex;
  height: 300px;
  flex-basis: 300px;
  flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  color: white;
}

.box-1 {
  background-color: red;
}

.box-2 {
  background-color: #c00;
}

.box-3 {
  background-color: #900;
}

.box-4 {
  background-color: #600;
}

.box-5 {
  background-color: #300;

}

.box-6 {
  background-color: black;
}

@media(min-width:600px) and (max-width:900px) {

  .box-3 {
    order: 2;
  }

  .box-4 {
    order: 1;
  }
  
  .box-5 {
    order: 3;
  }

  .box-6 {
    order: 4;
  }
}

@media(min-width:900px) {

  .box-3 {
    order: 0;
  }

  .box-4 {
    order: 3;
  }

  .box-5 {
    order: 2;
  }

  .box-6 {
    order: 1;
  }
}
