body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

._row {
  flex: 1 0 33%;
}

.block__small {
  min-width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 100px;
  color: #fff;
}

.block__small:nth-child(1) {
  background-color: rgb(256, 0, 0);
}

.block__small:nth-child(2) {
  background-color: rgb(204, 0, 0);
}

.block__small:nth-child(3) {
  background-color: rgb(153, 0, 0);
}

.block__small:nth-child(4) {
  order: 6;
  background-color: rgb(102, 0, 0);
}

.block__small:nth-child(5) {
  order: 5;
  background-color: rgb(51, 0, 0);
}

.block__small:nth-child(6) {
  order: 4;
  background-color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .block__small:nth-child(3) {
    order: 4;
  }
  .block__small:nth-child(4) {
    order: 3;
  }
  .block__small:nth-child(6) {
    order: 6;
  }
  .block__small:nth-child(5) {
    order: 5;
  }
}

@media (max-width: 500px) {
  .block__small:nth-child(4) {
    order: 4;
  }
  .block__small:nth-child(5) {
    order: 5;
  }
  .block__small:nth-child(6) {
    order: 6;
  }
}
