html {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 100px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  color: #fff;
  font-size: 100px;
  flex-wrap: wrap;
}

.box {
  flex-grow: 1;
  flex-basis: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 599px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  .box {
    flex-basis: 33.3%;
  }

  .box__4 {
    order: 2;
  }

  .box__5 {
    order: 1;
  }

  .box__6 {
    order: 0;
  }
}

@media (min-width: 600px ) and  (max-width: 900px) {
  .box__4 {
    order: 0;
  }

  .box__3 {
    order: 1;
  }

  .box__5 {
    order: 2;
  }

  .box__6 {
    order: 3;
  }

}

.box__1 {
  background-color: red;
}

.box__2 {
  background-color: rgb(204, 0, 0);
}

.box__3 {
  background-color: rgb(153, 0, 0);
}

.box__4 {
  background-color: rgb(102, 0, 0);
}

.box__5 {
  background-color: rgb(51, 0, 0);
}

.box__6 {
  background-color: black;
}
