body {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 1 0 33%;
  height: 300px;
  min-width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.box-1 {
  background-color: red;
}

.box-2 {
  background-color: rgb(204, 0, 0);
}

.box-3 {
  background-color: rgb(153, 0, 0);
}

.box-4 {
  background-color: rgb(102, 0, 0);
  order: 6;
}

.box-5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.box-6 {
  background-color: black;
  order: 4;
}

@media screen and (max-width: 899px) {
  .box-3 {
    order: 4;
  }
  .box-4 {
    order: 3;
  }
  .box-5 {
    order: 5;
  }
  .box-6 {
    order: 6;
  }
}

@media screen and (max-width: 599px) {
  .box-3 {
    order: 3;
  }
  .box-4 {
    order: 4;
  }
  .box-5 {
    order: 5;
  }
  .box-6 {
    order: 6;
  }
}
