@import url(./styles/reset.css);

.html {
  font-family: Arial, Helvetica, sans-serif;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.blocks__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-width: 300px;
  font-size: 100px;
  color: white;
  flex-grow: 1;
  flex-basis: 33.33%;
}

.blocks__block--1 {
  background-color: rgb(100% 0% 0%);
}

.blocks__block--2 {
  background-color: rgb(80% 0% 0%);
}

.blocks__block--3 {
  background-color: rgb(60% 0% 0%);
}

.blocks__block--4 {
  background-color: rgb(40% 0% 0%);
  order: 6;
}

.blocks__block--5 {
  background-color: rgb(20% 0% 0%);
  order: 5;
}

.blocks__block--6 {
  background-color: rgb(0% 0% 0%);
  order: 4;
}

@media (max-width: 899px) {
  .blocks__block--3 {
    background-color: rgb(60% 0% 0%);
    order: 4;
  }

  .blocks__block--4 {
    background-color: rgb(40% 0% 0%);
    order: 3;
  }

  .blocks__block--5 {
    background-color: rgb(20% 0% 0%);
    order: 5;
  }

  .blocks__block--6 {
    background-color: rgb(0% 0% 0%);
    order: 6;
  }
}

@media (max-width: 599px) {
  .blocks__block--3 {
    background-color: rgb(60% 0% 0%);
    order: 3;
  }

  .blocks__block--4 {
    background-color: rgb(40% 0% 0%);
    order: 4;
  }

  .blocks__block--5 {
    background-color: rgb(20% 0% 0%);
    order: 5;
  }

  .blocks__block--6 {
    background-color: rgb(0% 0% 0%);
    order: 6;
  }
}
