html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}

body {
  margin: 0;
}

.block {
  height: 300px;
  text-align: center;
  line-height: 300px;
  background-color: #f00;
}

.block__2 {
  background-color: rgb(80%, 0%, 0%);
}

.block__3 {
  background-color: rgb(60%, 0%, 0%);
}

.block__4 {
  background-color: rgb(40%, 0%, 0%);
}

.block__5 {
  background-color: rgb(20%, 0%, 0%);
}

.block__6 {
  background-color: #000;
}

@media (min-width:600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .block {
    flex-basis: 33.33%;
    min-width: 300px;
    flex-grow: 1;
  }

  .block__3 {
    order: 4;
  }

  .block__4 {
    order: 3;
  }

  .block__5 {
    order: 5;
  }

  .block__6 {
    order: 6;
  }
}

@media (min-width:900px) {
  .block__3 {
    order: 3;
  }

  .block__6 {
    order: 4;
  }

  .block__4 {
    order: 6;
  }
}
