html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex: 1 0 200px;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: white;
}

.block:nth-child(1) {
  background-color: #f00;
}

.block:nth-child(2) {
  background-color: #c00;
}

.block:nth-child(3) {
  background-color: #900;
}

.block:nth-child(4) {
  background-color: #600;
}

.block:nth-child(5) {
  background-color: #300;
}

.block:nth-child(6) {
  background-color: #000;
}

@media (min-width: 450px) {
  .block {
    min-width: 100%;
    order: 0;
  }
}

@media (min-width: 600px) {
  .block {
    min-width: 50%;
  }
  
  .block:nth-child(1) {
    order: -1;
  }
  
  .block:nth-child(2) {
    order: -1;
  }

  .block:nth-child(3) {
    order: 0;
  }
  
  .block:nth-child(4) {
    order: -1;
  }
}

@media (min-width: 900px) {
  .block {
    min-width: 33.33%;
  }

  .block:nth-child(1) {
    order: -2;
  }
  
  .block:nth-child(2) {
    order: -2;
  }
  
  .block:nth-child(3) {
    order: -2;
  }
  
  .block:nth-child(4) {
    order: 0;
  }
  
  .block:nth-child(5) {
    order: -1;
  }
  
  .block:nth-child(6) {
    order: -2;
  }
}
