body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  margin: 0;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.blocks__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  color: white;
  height: 300px;
  min-width: 300px;
}

.block--1 {
  background-color: red;
}

.block--2 {
  background-color: rgb(80%, 0%, 0%);
}

.block--3 {
  background-color: rgb(60%, 0%, 0%);
  order: 3;
}

.block--4 {
  background-color: rgb(40%, 0%, 0%);
  order: 4;
}

.block--5 {
  background-color: rgb(20%, 0%, 0%);
  order: 5;
}

.block--6 {
  background-color: black;
  order: 6;
}

@media (min-width: 600px) and (max-width: 900px) {
  .blocks {
    flex-basis: 50%;
  }

  .block--4 {
    order: 2;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .blocks {
    flex-basis: 33%;
  }

  .block--4 {
    order: 6;
  }

  .block--5 {
    order: 5;
  }

  .block--6 {
    order: 4;
  }
}

@media (min-width: 1200px) {
  .blocks {
    flex-basis: 33%;
  }

  .block--4 {
    order: 6;
  }

  .block--5 {
    order: 5;
  }

  .block--6 {
    order: 4;
  }
}
