* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.item {
  font-family: Arial, sans-serif;
  font-size: 100px;

  height: 300px;
  min-width: 300px;
  line-height: 300px;
  text-align: center;

  color: white;
}

.item-1 {
  background-color: rgb(100%, 0%, 0%);
}

.item-2 {
  background-color: rgb(80%, 0%, 0%);
}

.item-3 {
  background-color: rgb(60%, 0%, 0%);
}

.item-4 {
  background-color: rgb(40%, 0%, 0%);
}

.item-5 {
  background-color: rgb(20%, 0%, 0%);
}

.item-6 {
  background-color: rgb(0%, 0%, 0%);
}

@media (min-width: 600px) {
  .item {
    flex-basis: 50%;
  }

  .item-1 {
    order: 1;
  }
  .item-2 {
    order: 2;
  }
  .item-3 {
    order: 4;
  }
  .item-4 {
    order: 3;
  }
  .item-5 {
    order: 5;
  }
  .item-6 {
    order: 6;
  }
}

@media (min-width: 900px) {
  .item {
    flex-basis: calc(100vw / 3);
  }

  .item-1 {
    order: 1;
  }
  .item-2 {
    order: 2;
  }
  .item-3 {
    order: 3;
  }
  .item-4 {
    order: 6;
  }
  .item-5 {
    order: 5;
  }
  .item-6 {
    order: 4;
  }
}
