html {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  flex-grow: 1;

  background-color: rgb(100%, 0%, 0%);
  color: white;

  min-width: 300px;
  line-height: 300px;
  text-align: center;
}

.block--2 {
  background-color: rgb(80%, 0%, 0%);
}

.block--3 {
  background-color: rgb(60%, 0%, 0%);
}

.block--4 {
  background-color: rgb(40%, 0%, 0%);
}

.block--5 {
  background-color: rgb(20%, 0%, 0%);
}

.block--6 {
  background-color: rgb(0%, 0%, 0%);
}

@media (min-width: 600px) {
  .block--3 {
    order: 2;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 4;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33%;
  }

  .block--6 {
    order: 2;
  }

  .block--4 {
    order: 4;
  }
}
