.block-1 {
  background-color: red;
}

.block-2 {
  background-color: rgb(204, 0, 0);
}

.block-3 {
  background-color: rgb(153, 0, 0);
}

.block-4 {
  background-color: rgb(102, 0, 0);
  order: 2;
}

.block-5 {
  background-color: rgb(51, 0, 0);
  order: 1;
}

.block-6 {
  background-color: rgb(0, 0, 0);
}

body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 26%;
  height: 300px;
}

@media (min-width: 600px) and (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }
  .block-3 {
    order: 3;
  }
  .block-5 {
    order: 4;
  }
  .block-6 {
    order: 5;
  }
}

@media (max-width: 599px) {
  .container {
    flex-direction: column;
  }
  .block {
    flex-basis: 300px;
  }
  .block-5 {
    order: 4;
  }
  .block-6 {
    order: 5;
  }
}
