body {
  margin: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 33.3%;
  min-width: 300px;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 100px;
  text-align: center;
}

.block-1 {
  background-color: #f00;
}

.block-2 {
  background-color: #c00;
}

.block-3 {
  background-color: #900;
}

.block-4 {
  order: 6;
  background-color: #600;
}

.block-5 {
  order: 5;
  background-color: #300;
}

.block-6 {
  order: 4;
  background-color: #000;
}

@media (max-width: 899px) {
  .block-3 {
    order: 4;
  }
  
  .block-4 {
    order: 3;
  }

  .block-6 {
    order: 6;
  }
}

@media (max-width: 599px) {
  .block-3 {
    order: 3;
  }
  
  .block-4 {
    order: 4;
  }

  .block-6 {
    order: 6;
  }
}
