* {
  box-sizing: border-box;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  margin: 0;
}

.wraper {
  display: flex;
  flex-wrap: wrap;
  font-size: 100px;
  color: white;
  justify-content: center;
  align-items: center;
}

.block {
  height: 300px;
  min-width: 300px;
  flex: 0 0 33.3%;
  text-align: center;
  line-height: 300px;
}

.block-1 {
  background-color: red;
}

.block-2 {
  background: hsl(0, 100%, 40%);
}

.block-3 {
  background: hsl(0, 100%, 30%);
}

.block-4 {
  background: hsl(0, 100%, 20%);
  order: 6;
}

.block-5 {
  background: hsl(0, 100%, 10%);
  order: 5;
}

.block-6 {
  background: hsl(0, 0%, 0%);
  order: 4;
}

@media screen and (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }
  .block-3 {
    order: 4;
  }
  .block-4 {
    order: 3;
  }
  .block-6 {
    order: 6;
  }
}

@media screen and (max-width: 599px) {
  .block {
    flex-basis: 100%;
  }
  .block-3 {
    order: 3;
  }
}
