body {
  margin: 0;
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px ;
  color: #fff;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 300px;
  min-height: 300px;
  min-width: 300px;
  justify-content: center;
  align-items: center;

}

.block--1 {
  background-color: hsl(0, 100%, 50%);
  order: 1;
}

.block--2 {
  background-color: hsl(0, 100%, 40%);
  order: 2;
}

.block--3 {
  background-color: hsl(0, 100%, 30%);
  order: 3;
}

.block--4 {
  background-color: hsl(0, 100%, 20%);
  order: 4;
}

.block--5 {
  background-color: hsl(0, 100%, 10%);
  order: 5;
}

.block--6 {
  background-color: hsl(0, 100%, 0%);
  order: 6;
}

@media (min-width: 600px) {
  .block > div {
    flex-basis: 50%;
  }
  .block--4 {
    order: 3;
  }
  .block--3 {
    order: 4;
  }
}

@media (min-width: 900px) {
  .block > div {
    flex-basis: 33.33%;
  }
  .block--6 {
    order: 4;
  }
  .block--4 {
    order: 6;
  }
}
