* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-basis: 300px;
  flex-grow: 1;
  height: 300px;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
}

.box--1 {
  background-color: red;
}

.box--2 {
  background-color: rgb(204, 0, 0);
}

.box--3 {
  background-color: rgb(153, 0, 0);
}

.box--4 {
  background-color: rgb(102, 0, 0);
}

.box--5 {
  background-color: rgb(51, 0, 0);
}

.box--6 {
  background-color: black;
}

@media (min-width: 600px) {
  .box--3 {
    order: 2;
  }

  .box--4 {
    order: 1;
  }

  .box--5 {
    order: 3;
  }

  .box--6 {
    order: 4;
  }
}

@media (min-width: 900px) {
  .box {
    flex-basis: 33%;
  }

  .box--3 {
    order: 0;
  }
  
  .box--4 {
    order: 3;
  }

  .box--5 {
    order: 2;
  }

  .box--6 {
    order: 1;
  }
}
