* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.box__wrap {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  width: 300px;
  height: 300px;
  background: rgb(255, 0, 0);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.box--1 {
  background: rgba(255, 0, 0, calc(4/5));
  order: 1;
}

.box--2 {
  background: rgb(255, 0, 0, calc(3/5));
  order: 2;
}

.box--3 {
  background: rgb(255, 0, 0, calc(2/5));
  order: 3;
}

.box--4 {
  background: rgba(255, 0, 0, calc(1 / 5));
  order: 5;
}

.box--5 {
  background: rgb(0, 0, 0);
  order: 5;
}


@media (min-width: 900px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.3%;
  }
}

@media (max-width: 600px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
  }
  .box:nth-child(3){
    order: 4;
  }
}

@media (max-width: 450px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
  }
}