* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.box {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}

.box > div {
  min-width: 300px;
  height: 300px;
  font-size: 100px;
  line-height: 300px;
  text-align: center;
  flex-grow: 1;
}

.first {
  background-color: hsl(0, 100%, 50%);
}

.second {
  background-color: hsl(0, 100%, 40%);
}

.thirth {
  background-color: hsl(0, 100%, 30%);
}

.fourth {
  background-color: hsl(0, 100%, 20%);
}

.fivth {
  background-color: hsl(0, 100%, 10%);
}

.sixth {
  background-color: hsl(0, 100%, 0%);
}

@media (min-width: 600px) {
  .box > div {
	
    width: 50%;
  }

  .thirth {
    order: 4;
  }

  .fourth {
    order: 3;
  }

  .fivth {
    order: 5;
  }

  .sixth {
    order: 6;
  }
}

@media (min-width: 900px) {
  .box > div {
	
    width: 30%;
  }

  .fourth {
    order: 6;
  }

  .fivth {
    order: 5;
  }

  .sixth {
    order: 4;
  }
}
