body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.boxes {
  --height: 300px;
  height: var(--height);
  flex-basis: var(--height);
  flex-shrink: 0;
  flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-1 {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.box-2 {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.box-3 {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.box-4 {
  background-color: rgb(102, 0, 0);
  order: 4;
}

.box-5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.box-6 {
  background-color: rgb(0, 0, 0);
  order: 6;
}

@media (min-width: 600px ) and (max-width: 900px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box-3 {
    order: 4;
  }

  .box-4 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .boxes {
    flex-basis: 33.33%;
  }

  .box-4 {
    order: 6;
  }

  .box-6 {
    order: 4;
  }
}
