$height: 300px;
/***********************************************************
                          GENERAL
***********************************************************/
body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
/***********************************************************
                          MAIN
***********************************************************/
.block {
  height: $height;
  font-family: Arial, sans-serif;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-basis: 100%;
}

.block_1 {
  background: #f00;
}

.block_2 {
  background: #cd0000;
}

.block_3 {
  background: #900;
}

.block_4 {
  background: #600;
}

.block_5 {
  background: #300000;
}

.block_6 {
  background: #000;
}

@media (min-width: 451px) {
  .block {
    flex-basis: 50%;
  }
  .block_3 {
    order: 2;
  }

  .block_4 {
    order: 1;
  }

  .block_5 {
    order: 3;
  }

  .block_6 {
    order: 6;
  }
}

@media (min-width: 751px) {
  .block {
    flex-basis: 33.33%;
  }
  .block_3 {
    order: 1;
  }

  .block_4 {
    order: 4;
  }

  .block_5 {
    order: 3;
  }

  .block_6 {
    order: 2;
  }
}
