body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}

.container__all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 300px;
  width: 300px;
  color: white;
  font-size: 100px;
}

.first__block {
  background-color: rgb(245, 10, 10);
}

.second__block {
  background-color: rgb(189, 7, 7);
}

.third__block {
  background-color: rgb(145, 3, 3);
  order: 3;
}

.fourth__block {
  background-color: rgb(105, 4, 4);
  order: 4;
}

.fifth__block {
  background-color: rgb(66, 2, 2);
  order: 5;
}

.sixth__block {
  background-color: rgb(8, 8, 8);
  order: 6;
}

@media (min-width: 600px) {

  .third__block {
    order: 4;
  }

  .fourth__block {
    order: 3;
  }
}

@media (min-width: 899px) {

  .third__block {
    order: 4;
  }

  .fourth__block {
    order: 6;
  }

  .sixth__block {
    order: 4;
  }
}

@media (min-width: 1196px) {

  .container__all {
    width: 400px;
  }

  .fourth__block {
    order: 6;
  }

  .sixth__block {
    order: 4;
  }
}
