body {
  margin: 0 auto;
  box-sizing: border-box;
}

.div {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

.block {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-basis: 33.3%;
  flex-grow: 1;
}

.block:nth-child(1) {
  background-color: red;
}

.block:nth-child(2) {
  background-color: hsl(0, 100%, 40%);
}

.block:nth-child(3) {
  background-color: hsl(0, 100%, 30%);
}

.block:nth-child(4) {
  background-color: hsl(0, 100%, 20%);
  order: 2;
}

.block:nth-child(5) {
  background-color: hsl(0, 100%, 10%);
  order: 1;
}

.block:nth-child(6) {
  background-color: black;
}

@media (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }

  .block:nth-child(3) {
    order: 3;
  }

  .block:nth-child(n+5) {
    order: 4;
  }
}

@media (max-width: 510px) {
  .block {
    flex-basis: 100%;
  }

  .block:nth-child(n) {
    order: 0;
  }
}
