body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  height: 300px;
  min-width: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.block--1 {
  background-color: #f00;
}

.block--2 {
  background-color: #c00;
}

.block--3 {
  background-color: #900;
}

.block--4 {
  background-color: #600;
}

.block--5 {
  background-color: #300;
}

.block--6 {
  background-color: #000;
}

@media (max-width: 599px) {
  body {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  .block--1 {
    order: 1;
  }

  .block--2 {
    order: 2;
  }

  .block--3 {
    order: 4;
  }

  .block--4 {
    order: 3;
  }

  .block--5 {
    order: 5;
  }

  .block--6 {
    order: 6;
  }
}

@media (min-width: 900px) {
  .block--1 {
    order: 1;
  }

  .block--2 {
    order: 2;
  }

  .block--3 {
    order: 3;
  }

  .block--4 {
    order: 6;
  }

  .block--5 {
    order: 5;
  }

  .block--6 {
    order: 4;
  }
}

@media (min-width: 1200px) {
  .block {
    flex-basis: 33.3%;
  }
}
