* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  display: flex;
  height: 300px;
  flex-shrink: 0;
  font-size: 100px;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.block--1 {
  background-color: #f00;
  order: 1;
}

.block--2 {
  background-color: #d50000;
  order: 2;
}

.block--3 {
  background-color: #950000;
  order: 3;
}

.block--4 {
  background-color: #5c0000;
  order: 6;
}

.block--5 {
  background-color: #2a0000;
  order: 5;
}

.block--6 {
  background-color: #000;
  order: 4;
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33.33%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }
  .block--4 {
    order: 3;
  }

  .block--3 {
    order: 4;
  }

  .block--6 {
    order: 6;
  }
}

@media (max-width: 599px) {
  .container {
    flex-direction: column;
  }

  .block--4 {
    order: 4;
  }

  .block--6 {
    order: 6;
  }
}
