* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: 300px;
  flex: 1 1 100%;
  flex-wrap: wrap;
  text-align: center;
  line-height: 300px;
  font-family: "Arial", sans-serif;
  font-size: 100px;
  color: #fff;
}

.block--1 {
  background-color: #f00;
  order: 1;
}

.block--2 {
  background-color: #c00;
  order: 2;
}

.block--3 {
  background-color: #900;
  order: 3;
}

.block--4 {
  background-color: #600;
  order: 4;
}

.block--5 {
  background-color: #300;
  order: 5;
}

.block--6 {
  background-color: #000;
  order: 6;
}

@media (min-width: 600px) {

  .block {
    flex-basis: 50%;
  }
  .block--3 {
    order: 4;
  }

  .block--4 {
    order: 3;
  }
}

@media (min-width: 900px) {

  .block {
    flex-basis: 33.33%;
  }
  .block--3 {
    order: 3;
  }

  .block--4 {
    order: 6;
  }

  .block--5 {
    order: 5;
  }

  .block--6 {
    order: 4;
  }

}
