* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: 300px;
  min-width: 300px;
  font-size: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%;
  flex-grow: 1;
}

.block--1 {
  background-color: red;
}

.block--2 {
  background-color: rgb(80%, 0%, 0%);
}

.block--3 {
  background-color: rgb(60%, 0%, 0%);
}

.block--4 {
  order: 3;
  background-color: rgb(40%, 0%, 0%);
}

.block--5 {
  order: 2;
  background-color: rgb(20%, 0%, 0%);
}

.block--6 {
  order: 1;
  background-color: rgb(0, 0, 0);
}

@media(max-width:899px) {
  .block {
    flex-basis: 50%;
  }

  .block--3 {
    order: 1;
  }

  .block--4 {
    order: 0;
  }

  .block--6 {
    order: 3;
  }
}

@media(max-width:599px) {
  .block {
    order: 0;
    flex-basis: auto;
  }
}
