body {
  margin: 0;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  
}

.conteiner {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  min-width: 33%;
  flex-basis: 300px;
  flex-grow: 1;
}

.item1 {
  background-color: rgb(100%, 0%, 0%);
}

.item2 {
  background-color: rgb(80%, 0%, 0%);
}

.item3 {
  background-color: rgb(60%, 0%, 0%);
}

.item4 {
  background-color: rgb(40%, 0%, 0%);
}

.item5 {
  background-color: rgb(20%, 0%, 0%);
}

.item6 {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 600px) {
  .item3 {
    order: 2;
  }

  .item4 {
    order: 1;
  }

  .item5 {
    order: 3;
  }

  .item6 {
    order: 4;
  }
}

@media (min-width: 900px) {
  .item3 {
    order: 0;
  }

  .item4 {
    order: 3;
  }

  .item5 {
    order: 2;
  }

  .item6 {
    order: 0;
  }
}
