html {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.block {
  flex-grow: 1;
  flex-basis: 100%;
  height: 300px;
  background-color: rgb(255, 0, 0);
  text-align: center;
  line-height: 300px;
}

.block-2 {
  background-color: rgb(204, 0, 0);
}

.block-3 {
  background-color: rgb(153, 0, 0);

}

.block-4 {
  background-color: rgb(102, 0, 0);
}

.block-5 {
  background-color: rgb(51, 0, 0);
}

.block-6 {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 600px) {
  .block {
    flex-basis: calc(100% / 2);
  }
  .block-3 {
    order: 4;
  }

  .block-4 {
    order: 3;
  }

  .block-5 {
    order: 5;
  }

  .block-6 {
    order: 6;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: calc(100% / 3);
  }

  .block-4 {
    order: 6;
  }

  .block-6 {
    order: 4;
  }
}
