html {
  font-family: Arial, sans-serif;
  font-size: 100px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  flex: 1 0 33.33%;
  min-width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  color: #fff;
}

.block-1 {
  background-color: #f00;
  order: 1;
}

.block-2 {
  background-color: #c00;
  order: 2;
}

.block-3 {
  background-color: #900;
  order: 3;
}

.block-4 {
  background-color: #600;
  order: 6;
}

.block-5 {
  background-color: #300;
  order: 5;
}

.block-6 {
  background-color: #000;
  order: 4;
}

@media (max-width:900px) {
  .block-1 {
    order: 1;
  }
  
  .block-2 {
    order: 2;
  }
  
  .block-3 {
    order: 4;
  }
  
  .block-4 {
    order: 3;
  }
  
  .block-5 {
    order: 5;
  }
  
  .block-6 {
    order: 6;
  }
}

@media (max-width:600px) {
  .block-1 {
    order: 1;
  }
  
  .block-2 {
    order: 2;
  }
  
  .block-3 {
    order: 4;
  }
  
  .block-4 {
    order: 3;
  }
  
  .block-5 {
    order: 5;
  }
  
  .block-6 {
    order: 6;
  }
}
