html {
  font-family: Arial, sans-serif;
  font-size: 100px;
}

body {
  margin: 0;
}

.block {
  height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.blocks {
  height: 100%;
  flex-basis: 33%;
  min-width: 300px;
  flex-grow: 1;
  line-height: 3em;
  justify-content: center;
  text-align: center;
  color: #ffff;
}

.block--1 {
  background-color: #f00;
  align-items: center;
  order: 0;
}

.block--2 {
  background-color: #c00;
  order: 0;
}

.block--3 {
  background-color: #900;
  order: 0;
}

.block--4 {
  background-color: #600;
  order: 3;
}

.block--5 {
  background-color: #300;
  order: 2;
}

.block--6 {
  background-color: #000;
  
}

@media (max-width: 899px) {
  .block--4 {
    order: 1;
  }

  .block--3 {
    order: 2;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 4;
  }
}

@media (max-width: 599px) {
  .block--3 {
    order: 1;
  }

  .block--4 {
    order: 2;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 4;
  }
}
