body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row {
  /* max-width: 900px; */
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
  flex-wrap: wrap;
}

.block {
  flex-grow: 1;
  height: 300px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-1 {
  background-color: #f00;
}

.block-2 {
  background-color: #c00;
}

.block-3 {
  background-color: #900;
}

.block-4 {
  background-color: #600;
  order: 3;
}

.block-5 {
  background-color: #300;
  order: 2;
}

.block-6 {
  background-color: #000;
  order: 1;
}

@media (max-width: 899px) {
  .block-3,
  .block-5,
  .block-6 {
    order: 2;
  }
  .block-4 {
    order: 1;
  }

}

@media (max-width: 599px) {
  .block {
    order: 1;
  }

}
