body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.block {
  height: 300px;
  flex-basis: 100%;
  flex-shrink: 0;
  font-family: Arial, sans-serif;
  font-size: 100px;
  text-align: center;
  line-height: 300px;
  color: #fff;
}

.block:nth-child(1) {
  background-color: rgb(100%, 0%, 0%);
}

.block:nth-child(2) {
  background-color: rgb(80%, 0%, 0%);
}

.block:nth-child(3) {
  background-color: rgb(60%, 0%, 0%);
}

.block:nth-child(4) {
  background-color: rgb(40%, 0%, 0%);
}

.block:nth-child(5) {
  background-color: rgb(20%, 0%, 0%);
}

.block:nth-child(6) {
  background-color: rgb(0%, 0%, 0%);
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block {
    height: 300px;
    flex-basis: 50%;
  }

  .block:nth-child(3) {
    order: 2;
  }

  .block:nth-child(4) {
    order: 1;
  }

  .block:nth-child(5) {
    order: 3;
  }

  .block:nth-child(6) {
    order: 4;
  }
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block {
    height: 300px;
    flex-basis: 33.3%;
  }

  .block:nth-child(3) {
    order: 0;
  }

  .block:nth-child(4) {
    order: 3;
  }

  .block:nth-child(5) {
    order: 2;
  }

  .block:nth-child(6) {
    order: 1;
  }
}
