html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}

body {
  margin: 0;
}

.container {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-grow: 1;
  height: 300px;
  flex-basis: 300px;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

/* #region background Nav */

.block--0 {
  background-color: #f00;
}

.block--1 {
  background-color: #c00;
}

.block--2 {
  background-color: #900;
}

.block--3 {
  background-color: #600;
}

.block--4 {
  background-color: #300;
}

/* #endregion block background Nav*/

@media (min-width: 600px) {
  .block--2 {
    order: 3;
  }

  .block--3 {
    order: 2;
  }

  .block--4 {
    order: 4;
  }

  .block--5 {
    order: 5;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: calc(100% / 3);
  }

  .block--2 {
    order: 2;
  }

  .block--3 {
    order: 5;
  }

  .block--4 {
    order: 4;
  }

  .block--5 {
    order: 3;
  }
}
