body {
  margin: 0;
  padding: 0;
}

.flex_bloc {
  display: flex;
  flex-wrap: wrap;
}

.bloc {
  height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

.bloc-1 {
  background: red;
}

.bloc-2 {
  background: rgb(204, 0, 0);
}

.bloc-3 {
  background: rgb(153, 0, 0);
}

.bloc-4 {
  background: rgb(102, 0, 0);
}

.bloc-5 {
  background: rgb(51, 0, 0);
}

.bloc-6 {
  background: black;
}

@media (min-width:600px) {
  .bloc-6 {
    order: 5;
  }

  .bloc-5 {
    order: 4;
  }

  .bloc-4 {
    order: 2;
  }

  .bloc-3 {
    order: 3;
  }

  .bloc-2 {
    order: 1;
  }
}

@media (min-width:900px) {
  .bloc-6 {
    order: 2;
  }

  .bloc-5 {
    order: 3;
  }

  .bloc-4 {
    order: 4;
  }

  .bloc-3 {
    order: 1;
  }

  .bloc {
    flex-basis: 33%;
  }
}
