* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-width: 300px;
  background: red;
  color: #fff;
  font-size: 6em;
  font-family: sans-serif;
}

.block:nth-child(2) {
  background: #c00;
}

.block:nth-child(3) {
  background: #900;
}

.block:nth-child(4) {
  background: #600;
}

.block:nth-child(5) {
  background: #300;
}

.block:nth-child(6) {
  background: #000;
}

@media (min-width: 600px) and (max-width: 899px) {
  .block {
    width: 50%;
  }
  
  .block:nth-child(3) {
    order: 4;
  }
  
  .block:nth-child(4) {
    order: 3;
  }
  
  .block:nth-child(5) {
    order: 5;
  }
  
  .block:nth-child(6) {
    order: 6;
  }
  
}

@media (min-width: 900px) {
  .block {
    width: 33.33%;
  }

  .block:nth-child(3) {
    order: 3;
  }
  
  .block:nth-child(4) {
    order: 6;
  }
  
  .block:nth-child(5) {
    order: 5;
  }
  
  .block:nth-child(6) {
    order: 4;
  }
}
