* {
  margin: 0;
  box-sizing: border-box;
}

/* .snake {
  max-width: 1200px;
  margin: 0 auto;
} */

.snake__row {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.snake__block {
  display: flex;
  font-family: Arial, sans-serif, italic;
  min-height: 300px;
  flex: 1 1 33.33%;
  min-width: 300px;
  font-size: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.snake__block_1 {
  background-color: red;
  order: 1;
}

.snake__block_2 {
  background-color: rgb(204,0,0);
  order: 2;
}

.snake__block_3 {
  background-color: rgb(153,0,0);
  order: 3;
}

.snake__block_4 {
  background-color: rgb(102,0,0);
  order: 6;
}

.snake__block_5 {
  background-color: rgb(51,0,0);
  order: 5;
}

.snake__block_6 {
  background-color: rgb(0,0,0);
  order: 4;
}

@media (max-width: 899.98px) {
  .snake__block {
    flex: 0 0 50%;
  }

  .snake__block_1 {
    order: 1;
  }
  .snake__block_2 {
    order: 2;
  }
  .snake__block_3 {
    order: 4;
  }
  .snake__block_4 {
    order: 3;
  }
  .snake__block_5 {
    order: 5;
  }
  .snake__block_6 {
    order: 6;
  }
}

@media (max-width: 599.98px) {
  .snake__row {
    flex-direction: column;
  }

  .snake__block_1 {
    order: 1;
  }
  .snake__block_2 {
    order: 2;
  }
  .snake__block_3 {
    order: 3;
  }
  .snake__block_4 {
    order: 4;
  }
  .snake__block_5 {
    order: 5;
  }
  .snake__block_6 {
    order: 6;
  }
}
