body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > div {
  flex: 0 0 100%;
  height: 300px;
  color: white;
  font-family: Arial, serif;
  font-size: 100px;
  text-align: center;
  line-height: 300px;
}

.container :nth-child(1) {
  background: rgb(255, 0, 0);
  order: 1;
}

.container :nth-child(2) {
  background: rgb(204, 0, 0);
  order: 2;
}

.container :nth-child(3) {
  background: rgb(153, 0, 0);
  order: 3;
}

.container :nth-child(4) {
  background: rgb(102, 0, 0);
  order: 4;
}

.container :nth-child(5) {
  background: rgb(51, 0, 0);
  order: 5;
}

.container :nth-child(6) {
  background: rgb(0, 0, 0);
  order: 6;
}

@media (min-width: 600px) and (max-width: 899px) {
  .container > div {
    flex-basis: 50%;
  }

  .container :nth-child(3) {
    order: 4;
  }

  .container :nth-child(4) {
    order: 3;
  }
}

@media (min-width: 900px) {
  .container > div {
    flex-basis: 33.33%;
  }

  .container :nth-child(4) {
    order: 6;
  }

  .container :nth-child(6) {
    order: 4;
  }
}
