* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  background-color: black;
  flex-wrap: wrap;
}

.container div {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  flex: 1 0 33%;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.one {
  background-color: red;
}

.two {
  background-color: rgb(204,00,00);
}

.three {
  background-color: rgb(153,00,00);
}

.four {
  background-color: rgb(102,00,00);
}

.five {
  background-color: rgb(52,00,00);
}

.six {
  background-color: black;
}

@media screen and (max-width: 900px) {
  .container div {
    flex-basis: 300px;
  }
}

@media screen and (min-width: 600px) {
  .three {
    order: 4;
  }
  .four {
    order: 3;
  }
  .five {
    order: 5;
  }
  .six {
    order: 6;
  }
}

@media screen and (min-width: 900px) {
  .four {
    order: 6;
  }
  .five {
    order: 5;
  }
  .six {
    order: 4;
  }
}
