html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block__1 {
  background-color: rgb(255, 0, 0);
}

.block__2 {
  background-color: rgb(204, 0, 0);
}

.block__3 {
  background-color: rgb(153, 0, 0);
}

.block__4 {
  background-color: rgb(102, 0, 0);
}

.block__5 {
  background-color: rgb(51, 0, 0);
}

.block__6 {
  background-color: rgb(0, 0, 0);
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 300px;
  min-width: 300px;
  font-size: 100px;
  flex-grow: 1;
  flex-basis: 33.33%;
}
@media (min-width: 600px) and (max-width: 899px) {
  .block__5,
  .block__6 {
    order: 2;
  }

  .block__3 {
    order: 1;
  }
}

@media (min-width: 900px) {
  .block__4 {
    order: 2;
  }

  .block__5 {
    order: 1;
  }
}
