body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  height: 300px;
  width: 300px;
  flex-basis: 300px;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  flex-grow: 1;
}

.default-first {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.default-second {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.default-third {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.default-fourth {
  background-color: rgb(102, 0, 0);
  order: 6;
}

.default-fifth {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.default-last {
  background-color: rgb(0, 0, 0);
  order: 4;
}

@media screen and (max-width: 750px) {
  .default-third {
    order: 4;
  }

  .default-fourth {
    order: 3;
  }

  .default-last {
    order: 6;
  }
}

@media screen and (max-width: 450px) {
  .default-last {
    order: 6;
  }

  .default-fourth {
    order: 4;
  }
}

@media screen and (min-width: 1200px) {
  .block {
    flex-basis: 33%;
  }
}
