*,
html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.block {
  height: 300px;
  min-width: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: rgb(255, 0, 0);
}

.block--2 {
  background-color: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);
}

.block--4 {
  background-color: rgb(102, 0, 0);
}

.block--5 {
  background-color: rgb(51, 0, 0);
}

.block--6 {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block {
    flex: 0 0 50%;
  }

  .block--1 {
    order: 1;
  }
  
  .block--2 {
    order: 2;
  }

  .block--3 {
    order: 4;
  }

  .block--4 {
    order: 3;
  }

  .block--5 {
    order: 5;
  }

  .block--6 {
    order: 6;
  }
}

@media (min-width: 900px) {
  .block {
    flex: 0 0 33.33%;
  }

  .block--1 {
    order: 1;
  }
  
  .block--2 {
    order: 2;
  }

  .block--3 {
    order: 3;
  }

  .block--4 {
    order: 6;
  }

  .block--5 {
    order: 5;
  }

  .block--6 {
    order: 4;
  }
}
