body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
}

.block {
  font-family: arial;
  font-size: 100px;
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-grow: 1;
}

.block1 {
  background-color: red;
  order: 0;
}

.block2 {
  background-color: #c00;
  order: 1;
}

.block3 {
  background-color: #900;
  order: 2;
}

.block4 {
  background-color: #600;
  order: 3;
}

.block5 {
  background-color: #300;
  order: 4;
}

.block6 {
  background-color: black;
  order: 5;
}

@media all and (min-width: 600px) and (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }

  .block3 {
    order: 3;
  }

  .block4 {
    order: 2;
  }

}
@media all and (min-width: 900px) {
  .block {
    flex-basis: 33.33%;
  }
  .block3 {
    order: 2;
  }

  .block4 {
    order: 5;
  }

  .block5 {
    order: 4;
  }

  .block6 {
    order: 3;
  }

}
