.body {
  margin: 0;
}

.snake {
  display: flex;
  flex-wrap: wrap;
}

.snake__body {
  display: flex;
  height: 300px;
  min-width: 300px;
  flex-basis: 33%;
  flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
  justify-content: center;
  align-items: center;
}

.snake--1 {
  background-color: #f00;
}

.snake--2 {
  background-color: #c00;
}

.snake--3 {
  background-color: #900;
}

.snake--4 {
  background-color: #600;
}

.snake--5 {
  background-color: #300;
}

.snake--6 {
  background-color: #000;
}

@media(min-width: 600px) {
  .snake--3 {
    order: 1;
  }

  .snake--5 {
    order: 1;
  }

  .snake--6 {
    order: 1;
  }
}

@media(min-width: 900px) {
  .snake--4 {
    order: 3;
  }

  .snake--5 {
    order: 2;
  }
}
