body {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1199px;
}

.block {
  height: 300px;
  min-width: 300px;
  flex: auto;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 100px;
  text-align: center;
  line-height: 300px;
}

.first {
  background-color: #f00;
}

.second {
  background-color: #c00;
}

.third {
  background-color: #900;
}

.fourth {
  background-color: #600;
  order: 6;
}

.fifth {
  background-color: #300;
  order: 5;
}

.sixth {
  background-color: #000;
}

@media screen and (max-width:899px) {

  .third {
    order: 4;
  }

  .fourth {
    order: 3;
  }

  .sixth {
    order: 6;
  }
}

@media (max-width: 599px) {
  .fourth {
    order: 4;
  }
}
