body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-width: 300px;
  flex-grow: 1;
  flex-basis: 33.3%;
}

.block--1 {
  background-color: #f00;
}

.block--2 {
  background-color: #c00;
}

.block--3 {
  background-color: #900;
}

.block--4 {
  background-color: #600;
}

.block--5 {
  background-color: #300;
}

.block--6 {
  background-color: #000;
}

@media (min-width:600px) and (max-width:899px) {
  .block {
    flex-basis: 50%;
  }

  .block--3 {
    order: 1;
  }

  .block--5,
  .block--6 {
    order: 2;
  }
}

@media (min-width:900px) {
  .block--4 {
    order: 3;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 1;
  }
}
