html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.snake {
  display: flex;
}

.block {
  font-family: inherit;
  font-size: 100px;
  color: #fff;
  height: 300px;
  line-height: 300px;
  text-align: center;
  min-width: 300px;
}

.first {
  background-color: rgb(255, 0, 0);
}

.second {
  background-color: rgb(204, 0, 0);
}

.third {
  background-color: rgb(153, 0, 0);
}

.fourth {
  background-color: rgb(102, 0, 0);
}

.fifth {
  background-color: rgb(51, 0, 0);
}

.sixth {
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 599px) {
  .snake {
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  .snake {
    flex-wrap: wrap;
  }
  .block {
    flex: 1 0 33.33%
    
  }
  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
  .third {
    order: 3;
  }
  .fourth {
    order: 6;
  }
  .fifth {
    order: 5;
  }
  .sixth {
    order: 4;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .snake {
    flex-wrap: wrap;
  }
  .block {
    flex-grow: 1;
  }
  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
  .fourth {
    order: 3;
  }
  .third {
    order: 4;
  }
  .fifth {
    order: 5;
  }
  .sixth {
    order: 6;
  }
}
