body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.block {
  height: 300px;
  min-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  flex-grow: 1;
  flex-basis: 33%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.block__1 {
  background-color: #f00;
}

.block__2 {
  background-color: rgb(204, 0, 0);
}

.block__3 {
  background-color: rgb(153, 0, 0);
}

.block__4 {
  background-color: rgb(102, 0, 0);
}

.block__5 {
  background-color: rgb(51, 0, 0);
}

.block__6 {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 600px) {
  .block__3 {
    order: 1;
  }

  .block__5 {
    order: 2;
  }

  .block__6 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .block__4 {
    order: 3;
  }

  .block__5 {
    order: 2;
  }

  .block__6 {
    order: 1;
  }
}
