* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width:600px) and (max-width: 899px) {
  .block--3 {
    order: 2;
  }
  .block--4 {
    order: 1;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 4;
  }
}

@media (min-width:900px) {
  .block--1,
  .block--2,
  .block--3 {
    width: 33.33vw;
  }

  .block--5 {
    order: 1;
  }

  .block--4 {
    order: 2;
  }
}

body {
  margin: 0;
}

.snake {
  display: flex;
  flex-wrap: wrap;
}

.block {
  flex-grow: 1;
  display: flex;
  height: 300px;
  min-width: 300px;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.block--1 {
  background-color: red;
}

.block--2 {
  background-color: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);
}

.block--4 {
  background-color: rgb(102, 0, 0);
}

.block--5 {
  background-color: rgb(51, 0, 0);
}

.block--6 {
  background-color: black;
}
