* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-grow: 1;
  flex-basis: 33.3%;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: red;
  width: 100%;
  font-size: 100px;
  color: #fff;
}

.block-2 {
  background: rgb(80%, 0%, 0%);
}

.block-3 {
  background: rgb(60%, 0%, 0%);
}

.block-4 {
  background: rgb(40%, 0%, 0%);
  order: 3;
}

.block-5 {
  background: rgb(20%, 0%, 0%);
  order: 2;
}

.block-6 {
  background-color: black;
  order: 1;
}

@media (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }

  .block-3 {
    order: 4;
  }

  .block-4 {
    order: 3;
  }

  .block-5 {
    order: 5;
  }

  .block-6 {
    order: 6;
  }
}

@media (max-width: 599px) {
  .block {
    flex-basis: 100%;
  }
  .block-3 {
    order: 3;
  }

  .block-4 {
    order: 4;
  }
}
