body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
}

.block {
  --height: 300px;
  height: var(--height);
  min-width: var(--height);
  /* width: 1/3; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
  text-align: center;
  line-height: var(--height);
}

.block_1 {
  background-color: #f00;
}

.block_2 {
  background-color: #c00;
}

.block_3 {
  background-color: #900;
}

.block_4 {
  background-color: #600;
}

.block_5 {
  background-color: #300;
}

.block_6 {
  background-color: #000;
}

@media (min-width: 300px) {
  .block {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .block {
    min-width: var(--height);
    width: 50%;
  }

  .block_3 {
    order: 1;
  }
  
  .block_4 {
    order: 0;
  }

  .block_5 {
    order: 1;
  }
  
  .block_6 {
    order: 1;
  }
}

@media (min-width: 900px) {
  .block {
    width: 33.3%;
  }

  .block_4 {
    order: 3;
  }
  
  .block_5 {
    order: 2;
  }
  
  .block_6 {
    order: 1;
  }
}
