body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: rgb(255, 255, 255);
}

.container,
.block {
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 300px;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  max-height: 600px;
  order: 1;
  background-color: rgb(255, 0, 0);
}

.block:nth-child(2) {
  order: 3;
  background-color: rgb(204, 0, 0);
}

.block:nth-child(3) {
  order: 5;
  background-color: rgb(153, 0, 0);
}

.block:nth-child(4) {
  order: 6;
  background-color: rgb(102, 0, 0);
}

.block:nth-child(5) {
  order: 4;
  background-color: rgb(51, 0, 0);
}

.block:nth-child(6) {
  order: 2;
  background-color: rgb(0, 0, 0);
}

@media (max-width:899px) {
  .container {
    flex-direction: row;
    max-height: 1800px;
  }

  .block {
    height: 300px;
  }

  .block:nth-child(2) {
    order: 2;
  }
  
  .block:nth-child(3) {
    order: 4;
  }
  
  .block:nth-child(4) {
    order: 3;
  }
  
  .block:nth-child(5) {
    order: 5;
  }
  
  .block:nth-child(6) {
    order: 6;
  }
}

@media (max-width:599px) {
  .container .block {
    order: 0;
  }
}
