body {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  height: 300px;
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  min-width: 300px;
  font: 100px Arial;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.one-box {
  background-color: #f00;
}

.two-box {
  background-color: rgb(204,0,0);
}

.three-box {
  background-color: rgb(153,0,0);
}

.four-box {
  background-color: #600;
}

.five-box {
  background-color: #300;
}

.six-box {
  background-color: #000;
}

@media screen and (min-width: 900px) {
  .flex-container :nth-child(4) {
    order: 3;
  }

  .flex-container :nth-child(5) {
    order: 2;
  }

  .flex-container :nth-child(6) {
    order: 1;
  }
}

@media screen and (min-width: 451px) and (max-width: 899px) {
  .flex-container :nth-child(1) {
    order: 1;
  }

  .flex-container :nth-child(2) {
    order: 2;
  }

  .flex-container :nth-child(3) {
    order: 4;
  }

  .flex-container :nth-child(4) {
    order: 3;
  }

  .flex-container :nth-child(5) {
    order: 5;
  }

  .flex-container :nth-child(6) {
    order: 6;
  }
}

@media screen and (max-width: 450px) {
  .flex-container :nth-child(1) {
    order: 1;
  }

  .flex-container :nth-child(2) {
    order: 2;
  }

  .flex-container :nth-child(3) {
    order: 3;
  }

  .flex-container :nth-child(4) {
    order: 4;
  }

  .flex-container :nth-child(5) {
    order: 5;
  }

  .flex-container :nth-child(6) {
    order: 6;
  }
}
