* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  --snake__size: 300px;
}

.snake {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: min-content;
  background-color: black;
  align-items: stretch;
}

.snake__part {
  content: "";
  min-width: var(--snake__size);
  height: var(--snake__size);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
}

.snake__part--1 {
  background-color: rgba(255, 0, 0, 1);
  order: 1;
}

.snake__part--2 {
  background-color: rgba(255, 0, 0, 0.8);
  order: 2;
}

.snake__part--3 {
  background-color: rgba(255, 0, 0, 0.6);
  order: 3;
}

.snake__part--4 {
  background-color: rgba(255, 0, 0, 0.4);
  order: 4;
}

.snake__part--5 {
  background-color: rgba(255, 0, 0, 0.2);
  order: 5;
}

.snake__part--6 {
  background-color: rgba(255, 0, 0, 0);
  order: 6;
}

@media (min-width: 600px) {
  .snake {
    flex-direction: row;
  }

  .snake__part--3 {
    order: 4;
  }

  .snake__part--4 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .snake {
    flex-direction: row;
  }

  .snake__part--4 {
    order: 8;
  }

  .snake__part--5 {
    order: 7;
  }
}
