* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-basis: 33.3%;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
}

.box--1 {
  background-color: rgb(255, 0, 0);
}

.box--2 {
  background-color: rgb(204, 0, 0);
}

.box--3 {
  background-color: rgb(153, 0, 0);
}

.box--4 {
  background-color: rgb(102, 0, 0);
  order: 3;
}

.box--5 {
  background-color: rgb(51, 0, 0);
  order: 2;
}

.box--6 {
  background-color: rgb(0, 0, 0);
  order: 1;
}

@media (max-width: 899px) {
  .box {
    flex-basis: 50%;
  }
  .box--3 {
    order: 2;
  }

  .box--4 {
    order: 1;
  }

  .box--5 {
    order: 3;
  }

  .box--6 {
    order: 4;
  }
}

@media (max-width: 599px) {
  .box {
    flex-basis: 100%;
  }

  .box--3 {
    order: 1;
  }

  .box--4 {
    order: 2;
  }

  .box--5 {
    order: 3;
  }

  .box--6 {
    order: 4;
  }
}
