
body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  height: 300px;
  width: 300px;
  color: white;
  text-align: center;
  line-height: 300px;
  flex: 33%;
}

.block_1 {
  background: red;
}

.block_2 {
  background: #cd0000;
}

.block_3 {
  background: #9a0000;
}

.block_4 {
  background: #600;
}

.block_5 {
  background: #300000;
}

.block_6 {
  background: black;
}

@media screen and (min-width: 900px) {
  .block_4 {
    order: 3;
  }

  .block_5 {
    order: 2;
  }

  .block_6 {
    order: 1;
  }
}

@media screen and (max-width: 899px) {

  .block {
    flex: 45%;
  }

  .block_4 {
    order: 1;
  }

  .block_3 {
    order: 3;
  }

  .block_5 {
    order: 4;
  }

  .block_6 {
    order: 5;
  }

}

@media screen and (max-width: 450px) {
  .block {
    flex: 100%;
  }
}
