
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.bloks {
  height: 300px;
  min-width: 300px;
  line-height: 300px;
  color: white;
  text-align: center;
  flex-basis: 33%;
  /* flex-grow: 1; */
}

.bloks-1 {
  background-color: red;
}

.bloks-2 {
  background-color: rgb(80%, 0%, 0%);
}

.bloks-3 {
  background-color: rgb(60%, 0%, 0%);
}

.bloks-4 {
  background-color: rgb(40%, 0%, 0%);
}

.bloks-5 {
  background-color: rgb(20%, 0%, 0%);
}

.bloks-6 {
  background-color: black;
}

@media (min-width: 600px) {
  .bloks-3 {
    order: 1;
  }

  .bloks-5,
  .bloks-6 {
    order: 2;
  }
}

@media (min-width: 900px) {

  .bloks-5 {
    order: 3;
  }

  .bloks-4 {
    order: 4;
  }
}
