body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  flex-grow: 1;
  height: 300px;
  min-width: 300px;
  text-align: center;
  line-height: 300px;
  color: #fff;
}

.block--1 {
  background-color: #f00;
}

.block--2 {
  background-color: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);
}

.block--4 {
  background-color: rgb(102, 0, 0);
}

.block--5 {
  background-color: rgb(51, 0, 0);
}

.block--6 {
  background-color: #000;
}

@media (min-width: 600px) {
  .block--3 {
    order: 2;
  }

  .block--4 {
    order: 1;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 3;
  }
}

@media(min-width: 900px) {
  .block--3 {
    order: 0;
  }

  .block--4 {
    order: 3;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 1;
  }
}

@media(min-width: 1200px) {
  .block {
    width: 30%;
  }
}
