* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

body {
  margin: 0;
}

.icon__box {
  display: flex;
  flex-wrap: wrap;
}

.box__in_icon_box {
  justify-content: center;
  display: flex;
  min-width: 300px;
  line-height: 300px;
  flex-grow: 1;
  width: 33.3%;
}

.box--1 {
  background-color: red;
}

.box--2 {
  background-color: rgb(204, 0, 0);
}

.box--3 {
  background-color: rgb(153, 0, 0);
}

.box--4 {
  background-color: rgb(102, 0, 0);
}

.box--5 {
  background-color: rgb(51, 0, 0);
}

.box--6 {
  background-color: black;
}

@media (min-width: 600px) {
  .box--1 {
    order: 1;
  }

  .box--2 {
    order: 2;
  }

  .box--3 {
    order: 4;
  }

  .box--4 {
    order: 3;
  }

  .box--5 {
    order: 5;
  }

  .box--6 {
    order: 6;
  }
}

@media (min-width: 900px) {
  .box--1 {
    order: 1;
  }

  .box--2 {
    order: 2;
  }

  .box--3 {
    order: 3;
  }

  .box--4 {
    order: 6;
  }

  .box--5 {
    order: 5;
  }

  .box--6 {
    order: 4;
  }
}
