body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.snake {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  height: 300px;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  color: white;
  flex-basis: 100%;
}

.first-block {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.second-block {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.third-block {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.fourth-block {
  background-color: rgb(102, 0, 0);
  order: 4;
}

.fifth-block {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.sixth-block {
  background-color: rgb(0, 0, 0);
  order: 6;
}

@media screen and (min-width: 600px) {
  .block {
    flex-basis: 50%;
  }

  .third-block {
    order: 4;
  }

  .fourth-block {
    order: 3;
  }

}

@media screen and (min-width: 900px) {
  .block {
    flex-basis: 33.33%;
  }
  .fourth-block {
    order: 6;
  }

  .sixth-block {
    order: 4;
  }
}
