body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
}

.block {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  height: 300px;
  min-width: 300px;
}

.block:nth-child(1) {
  background-color: rgb(255, 0, 0);
}

.block:nth-child(2) {
  background-color: rgb(204, 0, 0);
}

.block:nth-child(3) {
  background-color: rgb(153, 0, 0);
}

.block:nth-child(4) {
  background-color: rgb(102, 0, 0);
}

.block:nth-child(5) {
  background-color: rgb(51, 0, 0);
}

.block:nth-child(6) {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 600px) and (max-width: 899px) {
  .block:nth-child(3) {
    order: 2;
  }

  .block:nth-child(4) {
    order: 1;
  }

  .block:nth-child(5) {
    order: 3;
  }

  .block:nth-child(6) {
    order: 3;
  }
}

@media (min-width: 900px) {
  .block:nth-child(6) {
    order: 0;
  }

  .block:nth-child(5) {
    order: 1;
  }

  .block:nth-child(4) {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .block {
    flex-basis: 33.3%;
  }
}
