body {
  margin: 0;
}
 
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(100% / 3);
}

.block__1 {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.block__2 {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.block__3 {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.block__4 {
  background-color: rgb(102, 0, 0);
  order: 4;
}

.block__5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.block__6 {
  background-color: rgb(0, 0, 0);
  order: 6;
}

@media (min-width: 900px) {
  .block-config {
    flex: 1 1 calc(100% / 3);
  }

  .container :nth-child(6) {
    order: 4;
  }

  .container :nth-child(5) {
    order: 5;
  }

  .container :nth-child(4) {
    order: 6;
  }
}

@media (max-width:899px) {
  .block-config {
    flex: 1 1 50%;
  }

  .container :nth-child(4) {
    order: 3;
  }

  .container :nth-child(3) {
    order: 4;
  }
}

@media (max-width:599px) {
  .block-config {
    flex: 1 1 100%;
  }

  .container :nth-child(3) {
    order: 3;
  }

  .container :nth-child(4) {
    order: 4;
  }
  
}
