* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 300px;
  height: 300px;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.block--1 {
  background-color: red;
}

.block--2 {
  background: rgb(204, 0, 0);
}

.block--3 {
  background: rgb(153, 0, 0);
}

.block--4 {
  background: rgb(102, 0, 0);
}

.block--5 {
  background: rgb(51, 0, 0);
}

.block--6 {
  background: rgb(0, 0, 0);
}

@media (min-width: 600px) {
  .block--3 {
    order: 4;
  }

  .block--4 {
    order: 3;
  }

  .block--5 {
    order: 5;
  }

  .block--6 {
    order: 6;
  }
}

@media (min-width: 900px) {
  .block--4 {
    order: 6;
  }

  .block--6 {
    order: 4;
  }
}

@media (min-width: 1100px) {
  .block {
    min-width: 33%;
  }
}
