body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  font-family: Arial, serif;
  font-size: 100px;
  flex: 1 1 300px;
  text-align: center;
  height: 300px;
  color: white;
  vertical-align: center;
  line-height: 300px;
}

@media (min-width: 600px) and (max-width: 899px) {
  .three {
    order: 2;
  }

  .four {
    order: 1;
  }

  .five {
    order: 4;
  }

  .six {
    order: 5;
  }

}

@media (min-width: 900px) {
  .container > div {
    flex-basis: 33.33%;
  }

  .four {
    order: 2;
  }

  .five {
    order: 1;
  }

}

.one {
  background-color: rgb(255, 0, 0);
}

.two {
  background-color: rgb(204, 0, 0);
}

.three {
  background-color: rgb(153, 0, 0);
}

.four {
  background-color: rgb(102, 0, 0);
}

.five {
  background-color: rgb(51, 0, 0);
}

.six {
  background-color: rgb(0, 0, 0);
}
