* {
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.container {
  display: flex;
  background-color: red;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  height: 300px;
  min-width: 300px;
  flex-basis: 33.33%;
}

.block__1 {
  order: 0;
}

.block__2 {
  order: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.block__3 {
  order: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.block__4 {
  order: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

.block__5 {
  order: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.block__6 {
  order: 1;
  background-color: rgba(0, 0, 0, 1);
}

@media (max-width: 599px) {
  .block__3,
  .block__4,
  .block__5,
  .block__6 {
    order: 0;
  }
}

@media (max-width: 899px) and (min-width: 600px) {
  .block__3 {
    order: 2;
  }
  .block__4 {
    order: 1;
  }
  .block__5 {
    order: 3;
  }
  .block__6 {
    order: 4;
  }
}
