* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
}

.container {
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.block {
  flex-basis: 100%;
  line-height: 300px;
}

.block:nth-child(1) {
  background-color: rgb(100%, 0%, 0%);
}

.block:nth-child(2) {
  background-color: rgb(80%, 0%, 0%);
}

.block:nth-child(3) {
  background-color: rgb(60%, 0%, 0%);
}

.block:nth-child(4) {
  background-color: rgb(40%, 0%, 0%);
}

.block:nth-child(5) {
  background-color: rgb(20%, 0%, 0%);
}

.block:nth-child(6) {
  background-color: rgb(0%, 0%, 0%);
}

@media screen and (min-width:600px) and (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }
  .block-1 {
    order: -3;
  }
  .block-2 {
    order: -2;
  }
  .block-3 {
    order: -1;
  }
  .block-4 {
    order: -2;
  }
  .block-5 {
    order: 0;
  }
  .block-6 {
    order: 1;
  }
}

@media screen and (min-width:900px) {
  .block {
    flex-basis: 33%;
  }
  .block-1 {
    order: -3;
  }
  .block-2 {
    order: -2;
  }
  .block-3 {
    order: -1;
  }
  .block-4 {
    order: 2;
  }
  .block-5 {
    order: 1;
  }
}
