* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  --height-block: 300px;
  display: flex;
  flex-flow: row wrap;
  max-width: calc(var(--height-block) * 3.99);
}

.block {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height-block);
  min-width: var(--height-block);
  flex-grow: 1;
}

.block--1 {
  background-color: red;
}

.block--2 {
  background-color: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);
}

.block--4 {
  background-color: rgb(102, 0, 0);
}

.block--5 {
  background-color: rgb(50, 0, 0);
}

.block--6 {
  background-color: black;
}

@media(min-width:600px) and (max-width:899px) {
  .block--3 {
    order: 2;
  }

  .block--4 {
    order: 1;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 4;
  }
}
@media(min-width:900px) {
  .block--4 {
    order: 3;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 1;
  }
}
