* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}

.box {
  display: flex;
  width: 300px;
  height: 300px;
  flex-grow: 1;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.box__1 {
  background-color: rgb(255, 0, 0);
}

.box__2 {
  background-color: rgb(204, 0, 0);
}

.box__3 {
  background-color: rgb(153, 0, 0);
}

.box__4 {
  background-color: rgb(102, 0, 0);
}

.box__5 {
  background-color: rgb(51, 0, 0);
}

.box__6 {
  background-color: rgb(0, 0, 0);
  
}


@media (min-width: 600px) and (max-width:899px) {
  .container {
    flex-direction: row;
  }
  .box__3 {
    order: 1;
  }
  .box__5 {
    order: 2;
  }
  .box__6 {
    order: 3;
  }
}

@media (min-width: 900px) and (max-width:1200px) {
  .container {
    flex-direction: row;
  }
  .box {
    flex-basis: 33%;
  }
  .box__4 {
    order: 3;
  }
  .box__5 {
    order: 2;
  }
  .box__6 {
    order: 1;
  }
}
