body {
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    width: 100%;
  }

  .box {
    min-width: 300px;
    flex: 0 0 50%;
  }

  .box-4 {
    order: 1;
  }

  .box-3 {
    order: 2;
  }

  .box-5 {
    order: 3;
  }

  .box-6 {
    order: 4;
  }
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    width: 100%;
  }

  .box {
    min-width: 300px;
    flex: 0 0 33.33%;
  }
  
  .box-3 {
    order: 1;
  }

  .box-4 {
    order: 4;
  }
  
  .box-5 {
    order: 3;
  }

  .box-6 {
    order: 2;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  color: #fff;
  font-size: 100px;
  flex-grow: 1;
}

.box-1 {
  background-color: #f00;
}

.box-2 {
  background-color: rgb(204, 0, 0);
}

.box-3 {
  background-color: rgb(153, 0, 0);
}

.box-4 {
  background-color: rgb(102, 0, 0);
}

.box-5 {
  background-color: rgb(51, 0, 0);
}

.box-6 {
  background-color: #000;
}
