body {
  margin: 0;
  max-width: 1199px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  --color-red: 255;
}

.block {
  display: flex;
  height: 300px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.block_1 {
  background-color: rgb(var(--color-red), 0, 0);
}

.block_2 {
  background-color: rgb(calc(var(--color-red) * 4 / 5), 0, 0);
}

.block_3 {
  background-color: rgb(calc(var(--color-red) * 3 / 5), 0, 0);
}

.block_4 {
  background-color: rgb(calc(var(--color-red) * 2 / 5), 0, 0);
}

.block_5 {
  background-color: rgb(calc(var(--color-red) * 1 / 5), 0, 0);
}

.block_6 {
  background-color: rgb(calc(var(--color-red) * 0), 0, 0);
}

@media (min-width: 900px) {
  .block_4 {
    order: 2;
  }

  .block_5 {
    order: 1;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .block_3 {
    order: 1;
  }

  .block_5 {
    order: 1;
  }

  .block_6 {
    order: 1;
  }
}
