body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}

.block {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
  flex-grow: 1;
  text-align: center;
}

.block--1 {
  background-color: #f00;
}

.block--2 {
  background-color: #c00;
}

.block--3 {
  background-color: #900;
}

.block--4 {
  background-color: #600;
}

.block--5 {
  background-color: #300;
}

.block--6 {
  background-color: #000;
}

@media (min-width: 600px) {
  .block--3 {
    order: 1;
  }

  .block--4 {
    order: 0;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: 30%;
  }

  .block--4 {
    order: 3;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 1;
  }
}
