* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper__block {
  flex-grow: 1;
  min-width: 300px;
  height: 300px;

  line-height: 300px;
  text-align: center;
  color: #fff;
}

.wrapper__block-1 {
  background-color: rgb(255, 0 , 0);
}

.wrapper__block-2 {
  background-color: rgb(204, 0 , 0);
}

.wrapper__block-3 {
  background-color: rgb(153, 0 , 0);
}

.wrapper__block-4 {
  background-color: rgb(102, 0 , 0);
}

.wrapper__block-5 {
  background-color: rgb(51, 0 , 0);
}

.wrapper__block-6 {
  background-color: rgb(0, 0 , 0);
}

@media(min-width: 900px) {
  .wrapper__block {
    flex-basis: 33%;
  }

  .wrapper__block-4 {
    order: 3;
  }

  .wrapper__block-5 {
    order: 2;
  }

  .wrapper__block-6 {
    order: 1;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .wrapper__block-4 {
    order: 1;
  }

  .wrapper__block-3 {
    order: 2;
  }

  .wrapper__block-5 {
    order: 3;
  }

  .wrapper__block-6 {
    order: 4;
  }
}
