body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 300px;
  min-width: 300px;
  flex: 0 0 33.33%;
  flex-grow: 1;
  text-align: center;
  line-height: 300px;
}

.box:nth-of-type(1) {
  background-color: hsl(0, 100%, 50%);
  order: 1;
}

.box:nth-of-type(2) {
  background-color: hsl(0, 100%, 40%);
  order: 2;
}

.box:nth-of-type(3) {
  background-color: hsl(0, 100%, 30%);
  order: 3;
}

.box:nth-of-type(4) {
  background-color: hsl(0, 100%, 20%);
  order: 6;
}

.box:nth-of-type(5) {
  background-color: hsl(0, 100%, 10%);
  order: 5;
}

.box:nth-of-type(6) {
  background-color: hsl(0, 100%, 0%);
  order: 4;
}

@media screen and (max-width: 899px) {
  .box {
    flex-basis: 0 0 50%;
  }

  .box:nth-of-type(3) {
    order: 4;
  }
  .box:nth-of-type(4) {
    order: 3;
  }
  .box:nth-of-type(6) {
    order: 6;
  }
}

@media screen and (max-width: 599px) {
  .box {
    flex-basis: 0 0 100%;
  }

  .box:nth-of-type(3) {
    order: 3;
  }
  .box:nth-of-type(4) {
    order: 4;
  }
  .box:nth-of-type(6) {
    order: 6;
  }
}
