body {
  margin: 0;
}

.snake {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
}

.blocks--2 {
  background-color: rgb(204,0,0);
  order: 2;
}

.blocks--3 {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.blocks--4 {
  background-color: rgb(102, 0, 0);
  order: 4;
}

.blocks--5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.blocks--6 {
  background-color: black;
  order: 6;
}

@media (min-width:600px) {
  .blocks--3 {
    order: 4;
  }

  .blocks--4 {
    order: 3;
  }
}

@media (min-width:900px) {
  .blocks {
    flex-basis: 33.33%;
  }
  .blocks--4 {
    order: 6;
  }

  .blocks--5 {
    order: 5;
  }

  .blocks--6 {
    order: 4;
  }
}
