* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;

  height: 300px;
  flex-basis: 300px;

  justify-content: center;
  align-items: center;

  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.box--1 {
  background-color: red;
}

.box--2 {
  background-color: rgb(204, 0, 0);
}

.box--3 {
  background-color: rgb(153, 0, 0);
}

.box--4 {
  order: 3;
  background-color: rgb(102, 0, 0);
}

.box--5 {
  order: 2;
  background-color: rgb(61, 0, 0);
}

.box--6 {
  order: 1;
  background-color: black;
}

@media (max-width: 899px) {
  .box--3 {
    order: 3;
  }

  .box--4 {
    order: 2;
  }

  .box--5 {
    order: 4;
  }

  .box--6 {
    order: 5;
  }
}

@media (max-width: 599px) {
  .box {
    order: 0;
  }
}
