body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-basis: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
}

.block1 {
  order: 0;
}

.block2 {
  order: 1;
  background-color: rgb(204, 0, 0);
}

.block3 {
  order: 2;
  background-color: rgb(153, 0, 0);
}

.block4 {
  order: 3;
  background-color: rgb(102, 0, 0);
}

.block5 {
  order: 4;
  background-color: rgb(51, 0, 0);
}

.block6 {
  order: 5;
  background-color: black;
}

@media (min-width: 600px) {
  .block {
    flex-basis: 50%;
  }
  .block4 {
    order: 2;
  }
  .block3 {
    order: 3;
  }
}

@media (min-width:900px) {
  .block {
    flex-basis: 33.3%;
  }
  .block6 {
    order: 3;
  }
  .block5 {
    order: 4;
  }
  .block4 {
    order: 5;
  }
}
