* {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  height: 300px;
  min-width: 300px;
  font-size: 100px;
  font-family: Arial, serif;
  flex-grow: 1;
  flex-basis: 33.3%;
  align-items: center;
  justify-content: center;
  color: white;
}

.block-1 {
  order: 1;
  background-color: rgb(255, 0, 0);
}

.block-2 {
  order: 2;
  background-color: rgb(204, 0, 0);
}

.block-3 {
  order: 3;
  background-color: rgb(153, 0, 0);
}

.block-4 {
  order: 4;
  background-color: rgb(102, 0, 0);
}

.block-5 {
  order: 5;
  background-color: rgb(51, 0, 0);
}

.block-6 {
  order: 6;
  background-color: black;
}

@media (min-width: 900px) {
  .block-6 {
    order: 4;
  }

  .block-4 {
    order: 6;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .block-3 {
    order: 4;
  }
  .block-4 {
    order: 3;
  }
}
