* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex: 1 1 33.3%;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 300px;
}

.one {
  background-color: rgb(100%, 0%, 0%);
}

.two {
  background-color: rgb(80%, 0%, 0%);
}

.three {
  background-color: rgb(60%, 0%, 0%);
}

.four {
  background-color: rgb(40%, 0%, 0%);
  order: 6;
}

.five {
  background-color: rgb(20%, 0%, 0%);
  order: 5;
}

.six {
  background-color: rgb(0%, 0%, 0%);
  order: 4;
}

@media screen and (max-width: 899px) {
  .three {
    order: 4;
  }

  .four {
    order: 3;
  }

  .five {
    order: 5;
  }

  .six {
    order: 6;
  }
}

@media screen and (max-width: 599px) {
  .three {
    order: 3;
  }

  .four {
    order: 4;
  }

  .five {
    order: 5;
  }

  .six {
    order: 6;
  }
}
