* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: 300px;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: 300px;
}

.break-row {
  flex-basis: 100%;
  order: 3;
  height: 0;
}

.block-1 {
  background-color: #f00;
  order: 1;
}

.block-2 {
  background-color: #c00;
  order: 2;
}

.block-3 {
  background-color: #900;
  order: 3;
}

.block-4 {
  background-color: #600;
  order: 6;
}

.block-5 {
  background-color: #300;
  order: 5;
}

.block-6 {
  background-color: #000;
  order: 4;
}

@media screen and (max-width:899px) {
  .block-3 {
    order: 4;
  }

  .block-4 {
    order: 3;
  }

  .block-6 {
    order: 6;
  }
}

@media screen and (max-width:599px) {
  .block-3 {
    order: 3;
  }

  .block-4 {
    order: 4;
  }
}
