* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  font-size: 100px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  min-width: 300px;
  flex-basis: calc(100% / 3);
}

.block--1 {
  background-color: red;
}

.block--2 {
  background-color: rgb(80%, 0%, 0%);
}

.block--3 {
  background-color: rgb(60%, 0%, 0%);
}

.block--4 {
  background-color: rgb(40%, 0%, 0%);
  order: 3;
}

.block--5 {
  background-color: rgb(20%, 0%, 0%);
  order: 2;
}

.block--6 {
  background-color: black;
  order: 1;
}

@media (max-width: 899px) {
  .block {
    flex-basis: 50%;
    order: 0;
  }

  .block--4 {
    order: 1;
  }

  .block--3 {
    order: 2;
  }

  .block--5,
  .block--6 {
    order: 3;
  }
}

@media (max-width: 599px) {
  .block {
    flex-basis: 100%;
    order: 0;
  }
}
