body {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  max-width: 1200px;
}

div {
  display: flex;
  width: 100%;
  height: 300px;
  font-size: 100px;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.box-1 {
  background-color: red;
  order: 1;
}

.box-2 {
  background-color: #c00;
  order: 2;
}

.box-3 {
  background-color: #900;
  order: 3;
}

.box-4 {
  background-color: #600;
  order: 4;
}

.box-5 {
  background-color: #300;
  order: 5;
}

.box-6 {
  background-color: #000;
  order: 6;
}

@media (min-width: 600px) {
  div {
    max-width: 50%;
  }

  .box-3 {
    order: 4;
  }

  .box-4 {
    order: 3;
  }
}

@media (min-width: 900px) {
  div {
    max-width: 33.33%;
  }

  .box-4 {
    order: 6;
  }

  .box-5 {
    order: 5;
  }

  .box-6 {
    order: 4;
  }
}
