html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.box {
  height: 300px;
  min-width: 300px;
  line-height: 300px;
  color: white;
  text-align: center;
  flex-grow: 1;
}

.box-1 {
  background-color: red;
}

.box-2 {
  background-color: rgb(80%, 0%, 0%);
}

.box-3 {
  background-color: rgb(60%, 0%, 0%);
}

.box-4 {
  background-color: rgb(40%, 0%, 0%);
}

.box-5 {
  background-color: rgb(20%, 0%, 0%);
}

.box-6 {
  background-color: black;
}

@media (min-width: 600px) {
  .box-3 {
    order: 1;
  }

  .box-5,
  .box-6 {
    order: 2;
  }
}

@media (min-width: 900px) {
  .box {
    min-width: 33%;
  }

  .box-5 {
    order: 3;
  }

  .box-4 {
    order: 4;
  }
}
