html {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  display: flex;
  height: 300px;
  min-width: 300px;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}

.box-1 {
  background-color: rgb(255, 0, 0);
}

.box-2 {
  background-color: rgb(204, 0, 0);
}

.box-3 {
  background-color: rgb(153, 0, 0);
}

.box-4 {
  background-color: rgb(102, 0, 0);
}

.box-5 {
  background-color: rgb(51, 0, 0);
}

.box-6 {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 900px) {
  .box {
    flex-basis: 33.33%;
  }

  .box-4 {
    order: 3;
  }

  .box-5 {
    order: 2;
  }

  .box-6 {
    order: 1;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .box {
    flex-basis: 50%;
  }

  .box-4 {
    order: 1;
  }

  .box-3 {
    order: 2;
  }

  .box-5 {
    order: 3;
  }

  .box-6 {
    order: 4;
  }
}
