body {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 100px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.block {
  display: flex;
  height: 300px;
  min-width: 300px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.block:first-child {
  background-color: rgb(256, 0, 0);
}

.block:nth-child(2) {
  background-color: rgb(205, 0, 0);
}

.block:nth-child(3) {
  background-color: rgb(154, 0, 0);
}

.block:nth-child(4) {
  background-color: rgb(103, 0, 0);
}

.block:nth-child(5) {
  background-color: rgb(51, 0, 0);
}

.block:nth-child(6) {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 600px) and (max-width: 899px) {
  .block:nth-child(4) {
    order: 1;
  }

  .block:nth-child(3),
  .block:nth-child(5),
  .block:nth-child(6) {
    order: 2;
  }
  
}

@media (min-width: 900px) {
  .block:nth-child(4) {
    order: 3;
  }

  .block:nth-child(5) {
    order: 2;
  }
}

@media (min-width: 600px) {
  .block {
    min-width: 50%;
  }
}

@media (min-width: 900px) {
  .block {
    min-width: 33.33%;
  }
}
