body {
  margin: 0;
  box-sizing: border-box;

  color: white;
  font-size: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block {
  display: flex;
  min-width: 300px;
  height: 300px;
  flex-basis: 33.33%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.block:nth-child(1) {
  background-color: red;
}

.block:nth-child(2) {
  background-color: rgb(204, 0, 0);
}

.block:nth-child(3) {
  background-color: rgb(153, 0, 0);
}

.block:nth-child(4) {
  background-color: rgb(102, 0, 0);
}

.block:nth-child(5) {
  background-color: rgb(51, 0, 0);
}

.block:nth-child(6) {
  background-color: black;
}

@media (min-width: 300px) {
  .row {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  .block-1 {
    order: 0;
  }
  .block-2 {
    order: 1;
  }
  .block-3 {
    order: 3;
  }
  .block-4 {
    order: 2;
  }
  .block-5 {
    order: 4;
  }
  .block-6 {
    order: 5;
  }
}

@media (min-width: 900px) {
  .block-1 {
    order: 0;
  }
  .block-2 {
    order: 1;
  }
  .block-3 {
    order: 2;
  }
  .block-4 {
    order: 5;
  }
  .block-5 {
    order: 4;
  }
  .block-6 {
    order: 3;
  }
}
