body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  justify-content: center;
  display: flex;
  flex: calc(33.33% - 30px);
  min-width: 300px;
}

.text {
  color: white;
  font-family: Arial, Helvetica, serif;
  font-size: 100px;
  line-height: 300px;
}

.one {
  background-color: rgb(255, 0, 0);
}

.two {
  background-color: rgb(204, 0, 0);
}

.three {
  background-color: rgb(153, 0, 0);
}

.four {
  background-color: rgb(102, 0, 0);
  order: 6;
}

.five {
  background-color: rgb(51, 0, 0);
  order: 5;

}

.six {
  background-color: rgb(0, 0, 0);
  order: 4;
}

@media  (max-width: 799px) {

  .three {
    order: 4;
  }

  .four {
    order: 3;
  }

  .five {
    order: 5;
  }

  .six {
    order: 6;
  }

}

@media  (max-width: 599px) {

  .three {
    order: 3;
  }

  .four {
    order: 4;
  }
}
