html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

body {
  margin: 0%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1199px;
}

.block {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-basis: 300px;
  color: white;
}

.sixth-block {
  background-color: black;
}

.fifth-block {
  background-color: rgb(20% 0% 0%);
}

.fourth-block {
  background-color: rgb(40% 0% 0%);
}

.third-block {
  background-color: rgb(60% 0% 0%);
}

.second-block {
  background-color: rgb(80% 0% 0%);
}

.first-block {
  background-color: red;
}

@media (min-width: 900px) {
  .fourth-block {
    order: 2;
  }

  .fifth-block {
    order: 1;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .third-block {
    order: 3;
  }

  .fourth-block {
    order: 2;
  }

  .fifth-block,
  .sixth-block {
    order: 4;
  }
}

@media (max-width: 599px) {
  .block {
    order: 1;
  }
}
