* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;

}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
  height: 300px;
  min-width: 300px;
}

.block-1 {
  background-color: rgb(100%, 0%, 0%);
}

.block-2 {
  background-color: rgb(80%, 0%, 0%);
}

.block-3 {
  background-color: rgb(60%, 0%, 0%);
}

.block-4 {
  background-color: rgb(40%, 0%, 0%);
  order: 2;
}

.block-5 {
  background-color: rgb(20%, 0%, 0%);
  order: 1;
 
}

.block-6 {
  background-color: rgb(0%, 0%, 0%);
 
}

@media( min-width: 1200px) {
  .block {
    min-width: 400px;
  }
}

@media (max-width: 768px) {
  .block-3 {
    order: 3;
  }
  
  .block-5 {
    order: 3;
  }
  
  .block-6 {
    order: 3;
  }
}

@media (max-width: 500px) {
  .block {
    order: 0;
  }
}
