body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
  height: 300px;
  font-size: 100px;
  color: white;
}

.block:first-child {
  background-color: #f00;
}

.block:nth-child(2) {
  background-color: #c00;
}

.block:nth-child(3) {
  background-color: #900;
}

.block:nth-child(4) {
  background-color: #600;
}

.block:nth-child(5) {
  background-color: #300;
}

.block:last-child {
  background-color: #000;
}

@media (min-width: 1201px) and (max-width: 1499px) {
  .block:nth-child(5) {
    order: 2;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .block:nth-child(5) {
    order: 2;
  }

  .block:nth-child(4) {
    order: 3;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .block:nth-child(3) {
    order: 2;
  }

  .block:nth-child(5) {
    order: 3;
  }

  .block:last-child {
    order: 4;
  }

}
