.body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.block {
  height: 300px;
  min-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: rgb(255 255 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.block__1 {
  background-color: rgb(255, 0, 0);
}

.block__1::after {
  content: "1";
}

.block__2 {
  background-color: rgb(204, 0, 0);
}

.block__2::after {
  content: "2";
}

.block__3 {
  background-color: rgb(153, 0, 0);
}

.block__3::after {
  content: "3";
}

.block__4 {
  background-color: rgb(102, 0, 0);
}

.block__4::after {
  content: "4";
}

.block__5 {
  background-color: rgb(51, 0, 0);
}

.block__5::after {
  content: "5";
}

.block__6 {
  background-color: rgb(0, 0, 0);
}

.block__6::after {
  content: "6";
}

@media (min-width: 599px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block {
    flex-basis: 33%;
  }

  .block__4 {
    order: 0;
  }

  .block__1,
  .block__2 {
    order: -1;
  }

  .block__5,
  .block__6,
  .block__3 {
    order: 1;
  }

}

@media (min-width: 899px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block {
    flex-basis: 33%;
  }

  .block__1,
  .block__2,
  .block__3 {
    order: -1;
  }
  .block__6 {
    order: 0;
  }
  .block__5 {
    order: 1;
  }
  .block__4 {
    order: 2;
  }
}
