html {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.box {
  width: 100%;
  --minimum-height: 300px;
  line-height: var(--minimum-height);
  text-align: center;
}

.box-holder {
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  background-color: #ff0102;
}

.box2 {
  background-color: #cc0202;
}

.box3 {
  background-color: #9a0002;
}

.box4 {
  background-color: #670100;
}

.box5 {
  background-color: #340000;
}

.box6 {
  background-color: #000;
}

@media (min-width: 500px) and (max-width: 899px) {
  .box {
    width: 50%;
  }

  .box3 {
    order: 4;
  }
  
  .box4 {
    order: 3;
  }
  
  .box5 {
    order: 5;
  }

  .box6 {
    order: 6;
  }
}

@media (min-width: 900px) {
  .box {
    width: 33.3%;
  }

  .box6 {
    order: 4;
  }

  .box5 {
    order: 5;
  }

  .box4 {
    order: 6;
  }
}
