body {
  margin: 0;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  font-size: 100px;
  font-family: Arial;
  text-align: center;
  line-height: 300px;
  color: white;
  flex: 1 0 300px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: rgb(204, 0,0);
}

.box3 {
  background-color: rgb(153, 0,0);
}

.box4 {
  background-color: rgb(102, 0,0);
}

.box5 {
  background-color: rgb(51, 0,0);
}

.box6 {
  background-color: rgb(00, 0,0);
}

@media all and (min-width: 600px) {
  .box3 {
    order: 4;
  }

  .box4 {
    order: 3;
  }

  .box5 {
    order: 5;
  }
  
  .box6 {
    order: 6;
  }

}

@media all and (min-width: 900px) {
  .box6 {
    order: 3;
  }

  .box4 {
    order: 6;
  }

  .box5 {
    order: 5;

  }
  .box6 {
    order: 4;
  }

}
@media all and (min-width: 1200px) {
  .box {
    flex-basis: 350px;
  }
}
  
