html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

body {
  margin: 0%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-basis: 300px;
  color: white;
}

.first-block {
  background-color: rgb(255, 0, 0);
}

.second-block {
  background-color: rgb(204, 0, 0);
}

.third-block {
  background-color: rgb(153, 0, 0);
}

.fourth-block {
  background-color: rgb(102, 0, 0);
}

.fifth-block {
  background-color: rgb(51, 0, 0);
}

.sixth-block {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 900px) {
  .fourth-block {
    order: 2;
  }

  .fifth-block {
    order: 1;
  }

  .block {
    flex-basis: 33%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .third-block {
    order: 2;
  }

  .fourth-block {
    order: 1;
  }

  .fifth-block,
  .sixth-block {
    order: 3;
  }

  .block {
    flex-basis: 50%;
  }
}
