body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

.item {
  height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_1 {
  background-color: rgb(255, 0, 0);
}

.box_2 {
  background-color: rgb(204, 0, 0);
}

.box_3 {
  background-color: rgb(153, 0, 0);
}

.box_4 {
  background-color: rgb(102, 0, 0);
}

.box_5 {
  background-color: rgb(51, 0, 0);
}

.box_6 {
  background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    flex-basis: 300px;
    flex-grow: 1;
  }

  .box_1 {
    order: 1;
  }

  .box_2 {
    order: 2;
  }

  .box_3 {
    order: 4;
  }

  .box_4 {
    order: 3;
  }

  .box_5 {
    order: 5;
  }

  .box_6 {
    order: 6;
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    flex-basis: 30%;
    flex-grow: 1;
  }

  .box_1 {
    order: 1;
  }

  .box_2 {
    order: 2;
  }

  .box_3 {
    order: 3;
  }

  .box_4 {
    order: 6;
  }

  .box_5 {
    order: 5;
  }
  
  .box_6 {
    order: 4;
  }
}
