* {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.snake {
  line-height: 300px;
  min-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
  text-align: center;
  flex-grow: 1;
  flex-basis: 33.33%;
}

.snake:nth-child(1) {
  background-color: rgb(255, 0, 0);
}

.snake:nth-child(2) {
  background-color: rgb(204, 0, 0);
}

.snake:nth-child(3) {
  background-color: rgb(153, 0, 0);
}

.snake:nth-child(4) {
  background-color: rgb(102, 0, 0);
}

.snake:nth-child(5) {
  background-color: rgb(51, 0, 0);
}

.container :nth-child(6) {
  background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 600px) {

  .container :nth-child(3) {
    order: 4;
  }
  .container :nth-child(4) {
    order: 3;
  }
  .container :nth-child(5) {
    order: 5;
  }
  .container :nth-child(6) {
    order: 6;
  }
}

@media screen and (min-width: 900px) {
  .container :nth-child(1) {
    order: 1;
  }
  .container :nth-child(2) {
    order: 2;
  }
  .container :nth-child(3) {
    order: 3;
  }
  .container :nth-child(4) {
    order: 6;
  }
  .container :nth-child(5) {
    order: 5;
  }
  .container :nth-child(6) {
    order: 4;
  }
}
