* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  /* justify-content: space-between; */
  /* justify-content: flex-start; */
  flex-wrap: wrap;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%;
  min-width: 300px;
  height: 300px;

  font-family: Arial;
  text-align: center;
  font-size: 100px;
  color: #fff;
}

.item-1 {
  background-color: #f00;
}

.item-2 {
  background-color: #c00;
}

.item-3 {
  background-color: #900;
}

.item-4 {
  background-color: #600;
  order: 6;
}

.item-5 {
  background-color: #300;
  order: 5;
}

.item-6 {
  background-color: #000;
  order: 4;
}

@media (max-width: 899px) {
  .box {
    flex-basis: 50%;
  }

  .item-3 {
    order: 4;
  }
  
  .item-4 {
    order: 3;
  }
  
  .item-6 {
    order: 6;
  }
}

@media (max-width: 599px) {
  .box {
    flex-basis: 100%;
  }

  .item-3 {
    order: 3;
  }
}
