
body {
	margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.box {
  height: 300px;
  font-family: Arial;
  font-size: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 300px;
  flex-grow: 1;
}

.first {
  background-color: rgb(255, 0, 0);
}

.second {
  background-color: rgb(204, 0, 0);
}

.third {
  background-color: rgb(153, 0, 0);
}

.fourth {
  background-color: rgb(102, 0, 0);
}

.fifth {
  background-color: rgb(51, 0, 0);
}

.sixth {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 600px) {
  .box {
    flex-basis: 50%;
  }
  .third {
    order: 4;
  }
  .fourth {
    order: 3;
  }
  .fifth {
    order: 5;
  }
  .sixth {
    order: 6;
  }
}


@media (min-width: 900px) {
  .box {
    flex-basis: 33.3%;
  }
  .third {
    order: 3;
  }
  .fourth {
    order: 6;
  }
  .fifth {
    order: 5;
  }
  .sixth {
    order: 4;
  }
}
