* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  font-size: 100px;
  color: rgb(255 255 255);
  text-align: center;
  line-height: 300px;
  height: 300px;
  min-width: 300px;
  flex: 1 1 300px;
}

.first {
  background-color: rgba(255 0 0);
}

.second {
  background-color: rgb(204 0 0);
}

.third {
  background-color: rgb(153 0 0);
}

.fourth {
  background-color: rgb(102 0 0);
}

.fifth {
  background-color: rgb(51 0 0);
}

.sixth {
  background-color: rgb(0 0 0);
}

@media screen and (min-width: 600px) {
  .third {
    order: 4;
  }

  .fourth {
    order: 3;
  }

  .fifth {
    order: 5;
  }

  .sixth {
    order: 6;
  }
}

@media screen and (min-width: 900px) {
  .block {
    flex-basis: 33%;
  }

  .third {
    order: 3;
  }

  .fourth {
    order: 6;
  }

  .sixth {
    order: 4;
  }
}
