body {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: 300px;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  background-color: red;
}

.second {
  background-color: rgb(200, 0, 0);
}

.third {
  background-color: rgb(150, 0, 0);
}

.fourth {
  background-color: rgb(100, 0, 0);
}

.fifth {
  background-color: rgb(50, 0, 0);
}

.sixth {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 600px) {
  .third {
    order: 2;
  }

  .fourth {
    order: 1;
  }

  .fifth {
    order: 3;
  }

  .sixth {
    order: 4;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33%;
  }
  .fourth {
    order: 4;
  }
  .fifth {
    order: 3;
  }
  .sixth {
    order: 2;
  }
}
