body {
  margin: 0;
  color: white;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
  
.block {
  display: flex;
  flex-wrap: wrap;
}
  
.block_element {
  display: flex;
  height: 300px;
  min-width: 300px;
  flex-basis: 33%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
  
.block--1 {
  background-color: red;
}
  
.block--2 {
  background-color: rgb(80%, 0%, 00%);
}
  
.block--3 {
  background-color: rgb(60%, 0%, 00%);
}
  
.block--4 {
  background-color: rgb(40%, 0%, 00%);
}
  
.block--5 {
  background-color: rgb(20%, 0%, 00%);
}
  
.block--6 {
  background-color: black;
}
  
@media (min-width: 600px) {
  .block--3 {
    order: 2;
  }

  .block--4 {
    order: 1;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 4;
  }

}
  
@media (min-width: 900px) {
  .block--3 {
    order: 1;
  }

  .block--6 {
    order: 2;
  }

  .block--5 {
    order: 3;
  }

  .block--4 {
    order: 4;
  }

}
