body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: aliceblue;
}

.block--1 {
  background-color: red;
}

.block--2 {
  background-color: hsl(0, 100%, 40%);
}

.block--3 {
  background-color: hsl(0, 100%, 30%);
}

.block--4 {
  background-color: hsl(0, 100%, 20%);
}

.block--5 {
  background-color: hsl(0, 100%, 10%);
}

.block--6 {
  background-color: black;
}

@media (min-width: 600px) {
  .block--3 {
    order: 1;
  }
  .block--5 {
    order: 1;
  }
  .block--6 {
    order: 1;
  }
}

@media (min-width: 900px) {
  .block--3 {
    order: 2;
  }
  .block--6 {
    order: 2;
  }
  .block--5 {
    order: 3;
  }
  .block--4 {
    order: 4;
  }
}

@media (min-width: 1200px) {
  .block {
    width: 320px;
  }
}
