html {
  font-family: Arial, sans-serif;
  font-size: 100px;
}

.body {
  margin: 0;
  --block_height: 300px;
}

.main {
  display: flex;
  flex-flow: wrap;
  max-width: calc(var(--block_height) * 3 + 299px);

}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--block_height);
  max-width: calc(var(--block_height) + 150px);
  min-width: var(--block_height);
  color: white;
  flex-grow: 1;
}

.b1 {
  background-color: red;
  order: 1;
}

.b2 {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.b3 {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.b4 {
  background-color: rgb(102, 0, 0);
  order: 4;
}

.b5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.b6 {
  background-color: rgb(0, 0, 0);
  order: 6;
}

@media (min-width: 900px) {
  .b4 {
    order: 6;
  }
  .b6 {
    order: 4;
  }
}

@media screen and (max-width: 899px)  and (min-width: 600px) {
  .b3 {
    order: 4;
  }

  .b4 {
    order: 3;
  }
}
