* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.blocks-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  flex-basis: calc(100% / 3);
  min-width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.first {
  background: rgb(255, 0, 0);
  order: 1;
}

.second {
  background: rgb(204, 0, 0);
  order: 2;
}

.third {
  background: rgb(153, 0, 0);
  order: 3;
}

.fourth {
  background: rgb(102, 0, 0);
  order: 6;
}

.fifth {
  background: rgb(51, 0, 0);
  order: 5;
}

.sixth {
  background: rgb(0, 0, 0);
  order: 4;
}

@media (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }

  .first {
    order: 1;
  }

  .second {
    order: 2;
  }

  .third {
    order: 4;
  }

  .fourth {
    order: 3;
  }

  .fifth {
    order: 5;
  }

  .sixth {
    order: 6;
  }
}

@media (max-width: 599px) {
  .block {
    flex-basis: 100%;
  }

  .first {
    order: 1;
  }

  .second {
    order: 2;
  }

  .third {
    order: 3;
  }

  .fourth {
    order: 4;
  }

  .fifth {
    order: 5;
  }

  .sixth {
    order: 6;
  }
}
