* {
  box-sizing: border-box;
}

body {
  margin: 0;
  --field-width: 100%;
}

.field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.field__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  height: 300px;
  min-width: 300px;
  width: var(--field-width);
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 100px;
}

.field__box-1 {
  background-color: rgb(100%,0%,0%);
  order: 1;
}

.field__box-2 {
  background-color: rgb(80%,0%,0%);
  order: 2;
}

.field__box-3 {
  background-color: rgb(60%,0%,0%);
  order: 3;
}

.field__box-4 {
  background-color: rgb(40%,0%,0%);
  order: 4;
}

.field__box-5 {
  background-color: rgb(20%,0%,0%);
  order: 5;
}

.field__box-6 {
  background-color: rgb(0%,0%,0%);
  order: 6;
}

@media (min-width: 600px) {
  .field__box {
    width: calc(var(--field-width) / 2);
  }

  .field__box-3 {
    order: 4;
  }
  
  .field__box-4 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .field__box {
    width: calc(var(--field-width) / 3);
  }

  .field__box-6 {
    order: 4;
  }
  
  .field__box-4 {
    order: 6;
  }
}
