body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-width: 300px;
  flex-basis: 33.3%;
  flex-grow: 1;

}

.col-1 {
  background-color: rgb(255, 0, 0);
}

.col-2 {
  background-color: rgb(204, 0, 0);
}

.col-3 {
  background-color: rgb(153, 0, 0);
}

.col-4 {
  background-color: rgb(102, 0, 0);
}

.col-5 {
  background-color: rgb(51, 0, 0);
}

.col-6 {
  background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 600px) {
  .col-3 {
    order: 4;
  }

  .col-4 {
    order: 3;
  }

  .col-5 {
    order: 5;
  }

  .col-6 {
    order: 6;
  }
}

@media screen and (min-width: 900px) {
  .col-4 {
    order: 6;
  }

  .col-5 {
    order: 5;
  }

  .col-6 {
    order: 4;
  }
}
