body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;

  /* width: 600px;
  height: 900px; */
  color: white;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 300px;

  height: 300px;
}

.block_1 {
  background-color: rgb(100%, 0%, 0%);
}

.block_2 {
  background-color: rgb(80%, 0%, 0%);
}

.block_3 {
  background-color: rgb(60%, 0%, 0%);
}

.block_4 {
  background-color: rgb(40%, 0%, 0%);
}

.block_5 {
  background-color: rgb(20%, 0%, 0%);
}

.block_6 {
  background-color: rgb(0%, 0%, 0%);
}

@media (min-width: 600px) {
  .block_3 {
    order: 1;
  }

  .block_5 {
    order: 1;
  }

  .block_6 {
    order: 1;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33%;
  }

  .block_4 {
    order: 3;
  }

  .block_5 {
    order: 2;
  }
}
