body {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1199px;
}

.block {
  flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
  height: 300px;
  line-height: 300px;
  min-width: 300px;
  text-align: center;
  color: white;
  font-size: 100px;
}

.block--1 {
  background-color: red;
  order: 1;
}

.block--2 {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.block--3 {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.block--4 {
  background-color: rgb(102, 0, 0);
  order: 6;
}

.block--5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.block--6 {
  background-color: rgb(0, 0, 0);
  order: 4;
}

@media (max-width: 899px) and (min-width: 600px) {
  .block--3 {
    order: 4;
  }

  .block--4 {
    order: 3;
  }

  .block--6 {
    order: 6;
  }
}
 
@media (max-width: 599px) {
  .block {
    order: 0;
  }
}
