body {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  height: 300px;
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 100px;
  line-height: 300px;
  text-align: center;
  min-width: 33.33%;
}

.block-1 {
  background-color: #f00;
  order: 1;
}

.block-2 {
  background-color: #c00;
  order: 2;
}

.block-3 {
  background-color: #900;
  order: 3;
}

.block-4 {
  background-color: #600;
  order: 6;
}

.block-5 {
  background-color: #300;
  order: 5;
}

.block-6 {
  background-color: #000;
  order: 4;
}

@media (max-width: 899px) {
  .container > div {
    min-width: 50%;
  }
  .block-3 {
    order: 4;
  }
  .block-4 {
    order: 3;
  }
  .block-5 {
    order: 5;
  }
  .block-6 {
    order: 6;
  }
}

@media (max-width: 599px) {
  .container > div {
    min-width: 100%;
  }
  .block-3 {
    order: 3;
  }
}
