body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  height: 300px;
  min-width: 300px;
  flex-grow: 1;
  color: white;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.block1 {
  background-color: red;
}

.block2 {
  background-color: rgb(80%, 0% , 0%);
}

.block3 {
  background-color: rgb(60%, 0% , 0%);
}

.block4 {
  background-color: rgb(40%, 0% , 0%);
}

.block5 {
  background-color: rgb(20%, 0% , 0%);
}

.block6 {
  background-color: black;
}

@media (min-width: 600px) {
  .block5,
  .block6 {
    order: 2;
  }
  .block3 {
    order: 1;
  }
}

@media (min-width: 900px) {
  .block {
    order: 0;
  }
  .block4 {
    order: 2;
  }
  .block5 {
    order: 1;
  }
}

@media (min-width: 1200px) {
  .block {
    width: 400px;
  }
}
