* {
  margin: 0;
}

.snake {
  display: flex;
  flex-wrap: wrap;
}

.colored_block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-basis: 300px;
  flex-grow: 1;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
}

.first {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.second {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.third {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.fourth {
  background-color: rgb(102, 0, 0);
  order: 4;
}

.fifth {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.sixth {
  background-color: rgb(0, 0, 0);
  order: 6;
}

@media (min-width: 600px) {
  .third {
    order: 4;
  }
  .fourth {
    order: 3;
  }
}

@media (min-width: 900px) {
  .fourth {
    order: 6;
  }
  .sixth {
    order: 4;
  }
}

@media (min-width: 1200px) {
  .colored_block {
    min-width: 400px;
  }
}
