* {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: wrap;
}

.block {
  width: calc(100% / 3);
  height: 300px;

  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 300px;
  
  color: #fff;
  background-color: red;
}

.block:nth-child(2) {
  background-color: hsl(0, 100%, 40%);
}

.block:nth-child(3) {
  background-color: hsl(0, 100%, 30%);
}

.block:nth-child(4) {
  background-color: hsl(0, 100%, 20%);
  order: 2;
}

.block:nth-child(5) {
  background-color: hsl(0, 100%, 10%);
  order: 1;
}

.block:nth-child(6) {
  background-color: hsl(0, 100%, 0%);
}

@media screen and (max-width:750px) {
  .block {
    width: 50%;
  }
  .block:nth-child(3) {
    order: 2;
  }
  .block:nth-child(4) {
    order: 1;
  }
  .block:nth-child(5) {
    order: 3;
  }
  .block:nth-child(6) {
    order: 4;
  }
}

@media screen and (max-width:450px) {
  .block:nth-child(n) {
    width: 100%;
    order: 0;
  }
}
