* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 3);
  height: 300px;
  min-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}

.block:nth-child(1) {
  background-color: #f00;
  order: 1;
}

.block:nth-child(2) {
  background-color: #c00;
  order: 2;
}

.block:nth-child(3) {
  background-color: #900;
  order: 3;
}

.block:nth-child(4) {
  background-color: #600;
  order: 6;
}

.block:nth-child(5) {
  background-color: #300;
  order: 5;
}

.block:nth-child(6) {
  background-color: #000;
  order: 4;
}

@media (min-width:600px) and (max-width:899px) {
  .block {
    flex-basis: calc(100% / 2);
  }

  .block:nth-child(3) {
    background-color: #900;
    order: 4;
  }

  .block:nth-child(4) {
    background-color: #600;
    order: 3;
  }

  .block:nth-child(6) {
    background-color: #000;
    order: 6;
  }
}

@media (min-width:300px) and (max-width:599px) {
  .block {
    flex-basis: 100%;
  }

  .block:nth-child(4) {
    background-color: #600;
    order: 4;
  }

  .block:nth-child(6) {
    background-color: #000;
    order: 6;
  }
}
