body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 33%;
  min-width: 300px;
  height: 300px;
}

.block-1 {
  background-color: rgb(255, 0, 0);
}

.block-2 {
  background-color: rgb(204, 0, 0);
}

.block-3 {
  background-color: rgb(153, 0, 0);
}

.block-4 {
  background-color: rgb(102, 0, 0);
  order: 3;
}

.block-5 {
  background-color: rgb(51, 0, 0);
  order: 2;
}

.block-6 {
  background-color: rgb(0, 0, 0);
  order: 1;
}

@media (max-width: 599px) {
  .block-4 {
    order: 4;
  }
}

@media (max-width: 899px) {
  .block-3 {
    order: 4;
  }
  .block-5 {
    order: 5;
  }
  .block-6 {
    order: 6;
  }
}
