body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 300px;
  flex-grow: 1;
  color: #fff;
  font-size: 100px;
  font-family: Arial, sans-serif;
}

.first__block {
  background-color: rgb(255,0,0);
}

.second__block {
  background-color: rgb(204,0,0);
}

.third__block {
  background-color: rgb(153,0,0);
}

.fourth__block {
  background-color: rgb(102,0,0);
}

.fifth__block {
  background-color: rgb(51,0,0);
}

.sixth-block {
  background-color: rgb(0,0,0);
}

@media (min-width: 600px) and (max-width: 900px) {
  .block {
    flex-basis: 50%;
  }

  .third__block {
    order: 2;
  }

  .fourth__block {
    order: 1;
  }

  .fifth__block {
    order: 3;
  }

  .sixth-block {
    order: 4;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .block {
    flex-basis: 33%;
  }

  .third__block {
    order: 1;
  }

  .fourth__block {
    order: 4;
  }

  .fifth__block {
    order: 3;
  }

  .sixth-block {
    order: 2;
  }
}
