* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 100px;
}

.body {
  margin: 0;
  --block-height: 300px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: var(--block-height);
  min-width: var(--block-height);
  color: #fff;
  text-align: center;
  line-height: var(--block-height);
  flex-grow: 1;
}

.block--1 {
  background-color: rgb(255, 0, 0);
}

.block--2 {
  background-color: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);

}

.block--4 {
  background-color: rgb(102, 0, 0);
}

.block--5 {
  background-color: rgb(51, 0, 0);
}

.block--6 {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 600px) {
  .block--3 {
    order: 1;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33%;
  }

  .block--4 {
    order: 3;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 1;
  }
}
