* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: #fff;
}

.container {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
}

.blocks {
  min-width: 300px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  flex-grow: 1;
}

.block--1 {
  background-color: rgba(255, 0, 0, 1);
}

.block--2 {
  background-color: rgba(255, 0, 0, 0.8);
}

.block--3 {
  background-color: rgba(255, 0, 0, 0.6);
}

.block--4 {
  background-color: rgba(255, 0, 0, 0.4);
}

.block--5 {
  background-color: rgba(255, 0, 0, 0.2);
}

.block--6 {
  background-color: rgba(255, 0, 0, 0);
}

@media (max-width: 599px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .block--3 {
    order: 2;
  }

  .block--4 {
    order: 1;
  }

  .block--5,
  .block--6 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .blocks {
    flex-basis: 33.3%;
  }

  .block--5 {
    order: 1;
  }

  .block--4 {
    order: 2;
  }
}
