.body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
}

@media (min-width: 600px) and (max-width: 899px) {
  .body {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 900px) {
  .body {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .body {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .block {
    width: 33.3%;
  }
}

.block {
  display: flex;
  height: 300px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) and (max-width: 899px) {
  .block {
    flex-grow: 1;
  }
}

@media (min-width: 900px) {
  .block {
    flex-grow: 1;
  }
}

@media (min-width: 1200px) {
  .block {
    min-width: 400px;
  }
}

.block1 {
  background-color: red;
}

.block2 {
  background-color: rgb(204,0,0);
}

.block3 {
  background-color: rgb(153,0,0);
}

@media (min-width: 600px) and (max-width: 899px) {
  .block3 {
    order: 1;
  }
}

@media (min-width: 900px) {
  .block3 {
    order: 0;
  }
}

.block4 {
  background-color: rgb(102,0,0);
}

@media (min-width: 600px) and (max-width: 899px) {
  .block4 {
    order: 0;
  }
}

@media (min-width: 900px) {
  .block4 {
    order: 3;
  }
}

.block5 {
  background-color: rgb(51,0,0);
}

@media (min-width: 600px) and (max-width: 899px) {
  .block5 {
    order: 2;
  }
}

@media (min-width: 900px) {
  .block5 {
    order: 2;
  }
}

.block6 {
  background-color: black;
}

@media (min-width: 600px) and (max-width: 899px) {
  .block6 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .block6 {
    order: 1;
  }
}
