html {
   font-family: Arial , sans-serif;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  flex: 33% 1 0 ;

  font-size: 100px;
  color: white;
}

.block--1 {
  background-color: rgb(255, 0, 0);
}

.block--2 {
  background-color: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);
}

.block--4 {
  order: 3;
  background-color: rgb(102, 0, 0);
}

.block--5 {
  order: 2;
  background-color: rgb(51, 0, 0);
}

.block--6 {
  order: 1;
  background-color: rgb(0, 0, 0);
}

@media (min-width: 300px) and (max-width: 599px) {
  .block--4 {
    order: 1;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 3;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .block--4 {
    order: 1;
  }

  .block--3 {
    order: 2;
  }

  .block--5 {
    order: 3;
  }

  .block--6 {
    order: 4;
  }

}
