* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  /* min-height: 900px; */
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 100px;
  font-family: Arial, sans-serif;
  min-height: 300px;
  width: 100%;
  color: white;
}

.block--1 {
  background-color: rgb(255,0,0);
}

.block--2 {
  background-color: rgb(204,0,0);
}

.block--3 {
  background-color: rgb(153,0,0);
}

.block--4 {
  background-color: rgb(102,0,0);
}

.block--5 {
  background-color: rgb(51,0,0);
}

.block--6 {
  background-color: rgb(0,0,0);
}

@media (min-width: 600px) {

  .block {
    width: 50%;
    height: 33.3vh;
  }

  .block--2 {
    order: 1;
  }

  .block--3 {
    order: 2;
  }

  .block--4 {
    order: 1;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 5;
  }
}

@media (min-width: 900px) {
  .block {
    width: 33.3%;
  }

  .block--2 {
    order: 0;
  }

  .block--3 {
    order: 0;
  }

  .block--4 {
    order: 3;
  }

  .block--5 {
    order: 2;
  }

  .block--6 {
    order: 1;
  }
}
