html {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 100px;
  color: #fff;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 300px;
  flex-basis: 300px;
}

.box--1 {
  background-color: rgb(256, 0, 0);
}

.box--2 {
  background-color: rgb(calc(256 * 4 / 5), 0, 0);
}

.box--3 {
  background-color: rgb(calc(256 * 3 / 5), 0, 0);
}

.box--4 {
  background-color: rgb(calc(256 * 2 / 5), 0, 0);
}

.box--5 {
  background-color: rgb(calc(256 * 1 / 5), 0, 0);
}

.box--6 {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 900px) {
  .box--5 {
    order: 1;
  }
  .box--4 {
    order: 2;
  }
  .box {
    flex-basis: 33%;
  }
}

@media (min-width: 600px) and (max-width:899px) {
  .box--1 {
    order: -3;
  }
  .box--2 {
    order: -2;
  }
  .box--4 {
    order: -1;
  }
}

@media (max-width: 450px) {
  .container {
    flex-direction: row;
  }
}
