html {
  font-family: Arial, serif;

}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 100px;
  height: 300px;
  width: 1000px;
}

@media (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }
  .block--3 {
    order: 3;
  }
  .block--4 {
    order: 2;
  }
  .block--5,
  .block--6 {
    order: 4;
  }
}

@media (max-width: 599px) {
  .block {
    flex-basis: 100%;
    order: 1;
  }
}

@media (min-width: 899px) {

  .block--3 {
    order: 1;
  }
  .block--4 {
    order: 3;
  }
  .block--5 {
    order: 2;
  }
  .block--6 {
    order: 1;
  }

}

.block--1 {
  background-color: rgb(255, 0, 0);
}

.block--2 {
  background-color: rgb(204, 0, 0);
}

.block--3 {
  background-color: rgb(153, 0, 0);
}

.block--4 {
  background-color: rgb(102, 0, 0);
}

.block--5 {
  background-color: rgb(51, 0, 0);
}

.block--6 {
  background-color: rgb(0, 0, 0);
}
