* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 300px;
  height: 300px;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.block-1 {
  background-color: rgb(100%, 0%, 0%);
}

.block-2 {
  background-color: rgb(80%, 0%, 0%);
}

.block-3 {
  background-color: rgb(60%, 0%, 0%);
}

.block-4 {
  background-color: rgb(40%, 0%, 0%);
}

.block-5 {
  background-color: rgb(20%, 0%, 0%);
}

.block-6 {
  background-color: rgb(0%, 0%, 0%);
}

@media (min-width:600px) {
  .block-3 {
    order: 1;
  }

  .block-5 {
    order: 2;
  }

  .block-6 {
    order: 3;
  }
}

@media (min-width:900px) {
  .block {
    flex-basis: 33.3%;
  }

  .block-4 {
    order: 5;
  }

  .block-5 {
    order: 4;
  }
}
