* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

.block {
  display: flex;
  height: 300px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  flex-basis: 33.3%;
}

.block--1 {
  background-color: rgb(255, 0, 0);
}

.block--2 {
  background-color: rgb(199, 0, 0);
}

.block--3 {
  background-color: rgb(148, 0, 0);
}

.block--4 {
  background-color: rgb(97, 0, 0);
}

.block--5 {
  background-color: rgb(46, 0, 0);
}

.block--6 {
  background-color: black;
}

@media (max-width:1200px) {
  .container {
    min-width: 900px;
  }
  .block--4 {
    order: 3;
  }
  .block--5 {
    order: 2;
  }
  .block--6 {
    order: 1;
  }
}

@media (max-width:899px) {
  .container {
    min-width: 600px;
  }
  .block--3 {
    order: 2;
  }
  .block--4 {
    order: 1;
  }
  .block--5 {
    order: 3;
  }
  .block--6 {
    order: 4;
  }
}

@media (max-width:450px) {
  .container {
    min-width: 300px;
  }
  .block {
    order: 0;
  }
}
