* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: white;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: 300px;
  width: 30%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.block1 {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.block2 {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.block3 {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.block4 {
  background-color: rgb(102, 0, 0);
  order: 6;
}

.block5 {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.block6 {
  background-color: rgb(0, 0, 0);
  order: 4;
}

@media (max-width: 899px) {
  .block1 {
    order: 1;
  }
  
  .block2 {
    order: 2;
  }
  
  .block3 {
    order: 4;
  }
  
  .block4 {
    order: 3;
  }
  
  .block5 {
    order: 5;
  }
  
  .block6 {
    order: 6;
  }
}

@media (max-width: 599px) {
  .block1 {
    order: 1;
  }
  
  .block2 {
    order: 2;
  }
  
  .block3 {
    order: 3;
  }
  
  .block4 {
    order: 4;
  }
  
  .block5 {
    order: 5;
  }
  
  .block6 {
    order: 6;
  }
}
