html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  flex-basis: 300px;
  height: 300px;
  min-width: 300px;
}

.block-1 {
  background-color: #f00;
}

.block-2 {
  background-color: #c00;
}

.block-3 {
  background-color: #900;
}

.block-4 {
  background-color: #600;
}

.block-5 {
  background-color: #300;
}

.block-6 {
  background-color: #000;
}

@media screen and (min-width: 600px) {
  .block-3,
  .block-5,
  .block-6 {
    order: 1;
  }
}

@media screen and (min-width: 900px) {
  .block-4 {
    order: 3;
  }

  .block-5 {
    order: 2;
  }

  .block-6 {
    order: 1;
  }
}

@media screen and (min-width: 1200px) {
  .block {
    flex-basis: 400px;
  }

  .block-4 {
    order: 3;
  }

  .block-5 {
    order: 2;
  }

  .block-6 {
    order: 1;
  }
}
