body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 100px;
  color: #fff;
}

.wraper {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 300px;
  width: 300px;
}

.block-1 {
  background-color: red;
}

.block-2 {
  background-color: rgb(204, 0, 0);
}

.block-3 {
  background-color: rgb(153, 0, 0);
}

.block-4 {
  background-color: rgb(102, 0, 0);
}

.block-5 {
  background-color: rgb(51, 0, 0);
}

.block-6 {
  background-color: black;
}

@media(min-width: 300px) {
  .block {
    flex-basis: 100%;
  }
}

@media(min-width: 600px) {
  .block {
    flex-basis: 50%;
  }

  .block-4 {
    order: 1;
  }

  .block-3 {
    order: 2;
  }

  .block-5 {
    order: 3;
  }

  .block-6 {
    order: 4;
  }
}

@media(min-width: 900px) {
  .block {
    flex-basis: 33.3%;
  }

  .block-1 {
    order: 1;
  }

  .block-2 {
    order: 2;
  }

  .block-3 {
    order: 3;
  }

  .block-6 {
    order: 4;
  }

  .block-5 {
    order: 5;
  }

  .block-4 {
    order: 6;
  }
}
