* {
  box-sizing: border-box;
}

html {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 300px;
  text-align: center;
  color: white;
}

.block-1 {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.block-2 {
  background-color: rgb(208,4,4);
  order: 2;
}

.block-3 {
  background-color: rgb(160,4,4);
  order: 3;
}

.block-4 {
  background-color: rgb(104,4,4);
  order: 4;
}

.block-5 {
  background-color: rgb(56,4,4);
  order: 5;
}

.block-6 {
  background-color: rgb(8,4,4);
  order: 6;
}

@media (min-width: 900px) {
  .block {
    min-width: calc(100% / 3);
  }

  .block-4 {
    background-color: rgb(104,4,4);
    order: 6;
  }

  .block-5 {
    background-color: rgb(56,4,4);
    order: 5;
  }

  .block-6 {
    background-color: rgb(8,4,4);
    order: 4;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .block {
    min-width: calc(100% / 2);
  }

  .block-4 {
    order: 3;
  }

  .block-3 {
    order: 4;
  }

  .block-5 {
    order: 5;
  }

  .block-6 {
    order: 6;
  }
}

@media (min-width: 300px) and (max-width: 599px) {
  .block {
    min-width: 100%;
  }
}
