* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  align-items: center;
  height: 300px;
  flex-basis: 33.33%;
  justify-content: center;
  color: white;
  font-size: 100px;
}

.box:nth-child(1) {
  background-color: #ff0101;
}

.box:nth-child(2) {
  background-color: #cc0101;
}

.box:nth-child(3) {
  background-color: #990002;
}

.box:nth-child(4) {
  background-color: #660100;
}

.box:nth-child(5) {
  background-color: #330001;
}

.box:nth-child(6) {
  background-color: #000;
}

@media (min-width: 900px) {
  .box:nth-child(4) {
    order: 3;
  }
  .box:nth-child(5) {
    order: 2;
  }
}

@media (max-width: 899px) {
  .box {
    flex-basis: 50%;
  }

  .box:nth-child(3) {
    order: 4;
  }

  .box:nth-child(4) {
    order: 3;
  }

  .box:nth-child(5) {
    order: 5;
  }

  .box:nth-child(6) {
    order: 6;
  }
}

@media (max-width: 450px) {
  .box {
    flex-basis: 100%;
  }
  
  .box:nth-child(3) {
    order: 3;
  }

  .box:nth-child(4) {
    order: 4;
  }
}
