body {
  margin: 0;
}

.snake {
  display: flex;
  flex-wrap: wrap;
}

.item {
  font-family: Arial;
  font-size: 100px;
  color: white;
  height: 300px;
  display: flex;
  flex: 1 0 300px;
  align-items: center;
  justify-content: center;
}

.item:nth-child(1) {
  background-color: rgb(255, 0, 0);
  order: 1;
}

.item:nth-child(2) {
  background-color: rgb(204, 0, 0);
  order: 2;
}

.item:nth-child(3) {
  background-color: rgb(153, 0, 0);
  order: 3;
}

.item:nth-child(4) {
  background-color: rgb(102, 0, 0);
  order: 4;
}

.item:nth-child(5) {
  background-color: rgb(51, 0, 0);
  order: 5;
}

.item:nth-child(6) {
  background-color: rgb(0, 0, 0);
  order: 6;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .item:nth-child(3) {
    order: 4;
  }
  .item:nth-child(4) {
    order: 3;
  }
}

@media screen and (min-width: 900px) {
  .item:nth-child(6) {
    order: 4;
  }
  .item:nth-child(4) {
    order: 6;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    flex-basis: 301px;
  }
}
