body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
  line-height: 300px;
}

.block {
  --flexbasis: calc(100% / 3);
  height: 300px;
  min-width: 300px;
  flex-basis: var(--flexbasis);
}

.block1 {
  background-color: red;
}

.block2 {
  background-color: rgb(80%, 0%, 0%);
}

.block3 {
  background-color: rgb(60%, 0%, 0%);
}

.block4 {
  background-color: rgb(40%, 0%, 0%);
  order: 3;
}

.block5 {
  background-color: rgb(20%, 0%, 0%);
  order: 2;
}

.block6 {
  background-color: black;
  order: 1;
}

@media screen (max-width: 900px) {
  .block {
    flex-basis: 50%;
  }
}
