html {
  font-family: Arial, sans-serif;
  font-size: 100px;
}

body {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  min-width: 300px;
  /* flex-basis: 33.3%; */
  flex-grow: 1;
  flex-shrink: 0;
  color: #fff;
}

.block--1 {
  background-color: rgb(100%, 0%, 0%);
}

.block--2 {
  background-color: rgb(80%, 0%, 0%);
}

.block--3 {
  background-color: rgb(60%, 0%, 0%);
}

.block--4 {
  background-color: rgb(40%, 0%, 0%);
}

.block--5 {
  background-color: rgb(20%, 0%, 0%);
}

.block--6 {
  background-color: rgb(0%, 0%, 0%);
}

@media (min-width: 600px) {
  .block {
    flex-basis: 50%;
  }

  .block--1,
  .block--2 {
    order: -1;
  }

  .block--3 {
    order: 2;
  }

  .block--4 {
    order: 1;
  }

  .block--5,
  .block--6 {
    order: 3;
  }
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33.33%;
  }

  .block--1,
  .block--2,
  .block--3 {
    order: -1;
  }

  .block--6 {
    order: 1;
  }

  .block--5 {
    order: 2;
  }

  .block--4 {
    order: 3;
  }
}
