body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: 300px;
  min-width: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block1 {
  background-color: red;
}

.block2 {
  background-color: rgb(204,0,0);
}

.block3 {
  background-color: rgb(153,0,0);
}

.block4 {
  background-color: rgb(102,0,0);
}

.block5 {
  background-color: rgb(51,0,0);
}

.block6 {
  background-color: black;
}

@media (min-width: 900px) {
  .block {
    flex-basis: 33.33%;
  }

  .block4 {
    order: 3;
  }

  .block5 {
    order: 2;
  }

  .block6 {
    order: 1;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .block {
    flex-basis: 50%;
  }

  .block3 {
    order: 2;
  }

  .block4 {
    order: 1;
  }

  .block5,
  .block6 {
    order: 3;
  }
}

@media (max-width: 599px) {
  .block {
    flex-basis: 100%;
  }
}
