$main-color: red;

.snake {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 300px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: white;
  margin: auto;
  position: absolute;

  &__square1 {
    background-color: $main-color;
    order: 1;
  }

  &__square2 {
    background-color: darken($main-color, 10%);
    order: 2;
  }

  &__square3 {
    background-color: darken($main-color, 20%);
    order: 3;
  }

  &__square4 {
    background-color: darken($main-color, 30%);
    order: 6;
  }

  &__square5 {
    background-color: darken($main-color, 40%);
    order: 5;
  }

  &__square6 {
    background-color: darken($main-color, 50%);
    order: 4;
  }
}
